<div class="greybg">
<div class="container max500">
	<h2 class="headerh2">Change Password</h2>
	<form (ngSubmit)="onSubmit()"class="row whitebg">

		<div class="col-md-12">
			<input type="password" name="username" [(ngModel)]="newpassword"placeholder="New Password ">
		</div>

		<div class="col-md-12">
			<input type="password" name="username1" [(ngModel)]="confirmpassword"placeholder="Conform Password">
		</div>

		<div class="col-md-12 error">
		{{error}}	
		</div>
		
		<div class="ovfld">
			<input type="submit" value ="Update" class="btn btn-success">			
		</div>
	</form>
</div>
</div>