<hr>
<div class="container paddt30">
	<div class="row">
		<div class="col-md-12">
			<h2 class="headerh2">Orders</h2>
		</div>
	</div>
	<div class="row d-flex justify-content-between bd-highlight mb-2">
		<div class="col-md-5">
			<h3>Your Information</h3>
			<table class="tableangular">
				<tr><td>Name</td><td>:</td><td>Devadls</td></tr>
				<tr><td>Phone Number</td><td>:</td><td>+91 132459870</td></tr>
				<tr><td>Email</td><td>:</td><td>devadls@gmail.com</td></tr>
			</table>
		</div>
		<div class="col-md-5">
			<h3>Order Information</h3>
			<table class="tableangular">
				<tr><td>Order No</td><td>:</td><td>Devadls</td></tr>
				<tr><td>Order Date</td><td>:</td><td>Nov, 31, 2018</td></tr>
				<tr><td>Delivery Date</td><td>:</td><td>Dec, 20, 2018</td></tr>
				<tr><td>Event Type</td><td>:</td><td>Team Breakfast</td></tr>
				<tr><td>Number of Guest</td><td>:</td><td>150</td></tr>
			</table>
		</div>
	</div>
	<div class="row margin30 d-flex justify-content-between bd-highlight mb-2">
		<div class="col-md-12">
			<h3>Shipping Address</h3>
		</div>
		<div class="col-md-5">
			<table class="tableangular" valign="top">
			<tr style="vertical-align: top">
				<td><label class="radiobtn"><input type="radio" checked name="radio"><span class="checkmark">
				</span></label></td>
  			<td><span class="tcolor">Address 1</span>
			lorem ipsum this is only dummy text of the printing<br> and typing industry.lorem ipsum is<br> simply dummy</td></tr>
			</table>
			<table class="tableangular">
			<tr style="vertical-align: top">
				<td><label class="radiobtn"><input type="radio" name="radio"><span class="checkmark">
				</span></label></td>
				<td><span class="tcolor">Address 1</span>
			lorem ipsum this is only dummy text of the printing<br> and typing industry.lorem ipsum is<br> simply dummy</td></tr>
			</table>
		</div>
		<div class="col-md-5">
			<table class="tableangular" valign="top">
			<tr style="vertical-align: top">
				<td><label class="radiobtn"><input type="radio" name="radio"><span class="checkmark">
				</span></label></td>
				<td><span class="tcolor">Address 3</span>
			lorem ipsum this is only dummy text of the printing<br> and typing industry.lorem ipsum is<br> simply dummy</td></tr>
			</table>
		</div>
		<div class="col-md-12 text-center marginbtm50">
				<button class="theme_btn">Pay Now</button>
		</div>
	</div>
</div>