.audit_score{color:#626262;font-size:20px;margin-bottom:30px;}
.audit_score span{color:#333333}
.themetr_btn{width:100%}
.audit{font-size:26px;color:#b98d36;display:block;}
.download{float:right;cursor:pointer;margin-top: -27px;}
.themetr_btn{text-align:left;border-width:2px;border-radius:5px;margin-bottom:30px;}
.margin_30_top{margin-top:30px !important}
td .themetr_btn{width:auto !important;margin:0;border-width:1px}
td .themetr_btn img{max-height: 20px;margin: 0 0 0 10px;float: right;}
.table thead th {border-bottom: 2px solid #dee2e6;background: #ebebeb;}
.table tr td{border-bottom:1px solid #b7b7b7}
.table tr th{border-bottom:1px solid #b7b7b7}
.table {margin-bottom: 50px;}