<hr>
<div class="container paddt30">
	<h2 class="headerh2">Audit</h2>
	<div class="row">
		<div class="col-md-6">
			<h3 class="audit_score">Audit Score: <span>{{Audit_score}}</span></h3>
			<a (click)="download(first_audit.audit_file)"><button class="themetr_btn" >
				<span class="audit">Download Audit File</span>
				<span class="filesize">File size : {{first_audit.file_size}}</span>
				<span class="download"><img src="assets/images/audit_download.png"></span>
				</button></a>
				<h3 class="audit_score">Next Audit Score: On or Before Dec 26 2018</h3>
				<button class="theme_btn" (click)="Request_audit()">REQUEST FOR AUDIT</button>
		<h2 class="headerh2 margin_30_top">Past Audit Files</h2>	
		</div>
	</div>
		<div class="container">			
			<div class="row">
		<table class="table">
			<thead>
			<tr>
				<th>Date</th><th>File Name</th><th>File Size</th><th>Download</th>
			</tr>
			</thead>
			<tbody>
				<tr *ngFor="let audit_files of audit">
					<td>{{audit_files.created_at | date : "dd-MM-yyyy"}}</td>
					<td>{{audit_files.audit_file}}</td>
					<td>{{audit_files.file_size}}</td>
					<td><a  (click)="download(first_audit.audit_file)"><button class="themetr_btn">Download <img src="assets/images/audit_download.png" class="btn_downlaod"></button></a></td>
				</tr>
				
				
			</tbody>
		</table>
		</div>
	</div>
	</div>
