<hr>
<div class="container paddt30">

	<div class="row">
		<div class="col-md-6">
			<h2 class="headerh2">Orders</h2>
		</div>
		<div class="col-md-6 text-right">
			<div class="searchform">
				<input type="text" class="search" placeholder="Search here"><i class="fa fa-search"></i>
			</div>
		</div>


			<div class="row">
		<div class="" style="width:100%">


			<ngb-tabset #t="ngbTabset"  [activeId]="selectedTab"  (tabChange)="onTabChange($event)">
				 <ngb-tab id="tab-present">    					
    					<ng-template ngbTabTitle>PRESENT</ng-template>

    					<ng-template ngbTabContent>
	
			<table class="table">
				<thead>
					<tr>
					<th>Customer Details</th>
					<th>Delivery Date and Time</th>
					<!-- <th>Order Items</th> -->
					<th class="th_wid">
						<table class="padzero">
							<tr>
								<td>Menus</td><td>Quantity & Price</td>
								<!-- <td>Total Bill</td> -->
							</tr>
							<!-- <tr><</tr> -->
					
						</table>
					</th>
					 <th width="100">Total Bill</th>
					<!--<th>Price</th> -->
					<th class="text-center" width="180">Order Status</th>
					<tr>
				</thead>
				<tbody>
					<tr *ngFor="let order of present_orders">
						
						<td>{{order.userslist.usr_first_name}}<br>Pin - 600044</td>
						 
						<td>2/1/2019, 9:00 AM</td>
						
						<td class="th_wid">
							<table class="padzero" *ngFor="let menu_list of order.present_orders">
								
								<tr>
								<td>
							<div class="ovtd">
								<img src="{{menu_images}}{{menu_list.menu_details.images[0].menu_imgname}}">
								<div class="hr_t">
									<h5>{{menu_list.menu_details.menu_name}}</h5>
									<span>{{menu_list.menu_details.menu_description}}</span>
								</div>
							</div>
						</td>
						<td>{{menu_list.ord_list_quantity}}X{{menu_list.menu_details.per_person_cost}}</td>
								</tr>
								
								
								
							</table>
						</td>
						<td>Rs. {{order.ord_total_amount}}</td>
						
						<td align="center" *ngIf="order.ord_status =='Cancelled'">
							
							<button class="orderstatus closed" >
							<i class="fa fa-close" aria-hidden="true"></i>{{order.ord_status}}</button>
							<!-- 

							<button class="themetr_btn margint10" (click)="Order_stats('Out_to_delivery',order.ord_id)">
								Out to Delivery
							</button> -->
						</td>

						<td align="center" *ngIf="order.ord_status =='Confirmed'">
							
							<button class="orderstatus confirm" >
							<i class="fa fa-check" aria-hidden="true"></i>{{order.ord_status}}</button>
							

							<button class="themetr_btn margint10" (click)="Order_stats('Out_to_delivery',order.ord_id)">
								Out to Delivery
							</button>
						</td>

						<td align="center" *ngIf="order.ord_status =='Out_to_delivery'" ><button class="orderstatus confirm">
							<i class="fa fa-check" aria-hidden="true"></i>Out to Delivery</button>
							<button class="themetr_btn margint10" (click)="Order_stats('Delivered',order.ord_id)">
								Delivery
							</button>
						</td>

						<td *ngIf="order.ord_status =='Delivered'" class="parachange" align="center"><button class="orderstatus delivered" (click)="Order_stats('Delivered',order.ord_id)">
							<i class="fa fa-check" aria-hidden="true"></i>Delivered</button>
							<p>Food</p>
							<fieldset class="rating">
							<input type="radio" [name]="inputName" value="5" [checked]="rating===5" />
							<label title="Rocks!" (click)='onClick(5)'>5 stars</label>

							<input type="radio" [name]="inputName" value="4" [checked]="rating===4" />
							<label title="Pretty good" (click)='onClick(4)'>4 stars</label>

							<input type="radio" [name]="inputName" value="3" [checked]="rating===3" />
							<label title="Meh" (click)='onClick(3)'>3 stars</label>

							<input type="radio" [name]="inputName" value="2" [checked]="rating===2" />
							<label title="Kinda bad" (click)='onClick(2)'>2 stars</label>

							<input type="radio" [name]="inputName" value="1" [checked]="rating===1" />
							<label title="Sucks big time" (click)='onClick(1)'>1 star</label>
							</fieldset>
						<p>Delivery</p>
							<fieldset class="ratingone">
							<input type="radio" [name]="inputNameone" value="5" [checked]="ratingone===5" />
							<label title="Rocks!" (click)='click(5)'>5 stars</label>

							<input type="radio" [name]="inputNameone" value="4" [checked]="ratingone===4" />
							<label title="Pretty good" (click)='click(4)'>4 stars</label>

							<input type="radio" [name]="inputNameone" value="3" [checked]="ratingone===3" />
							<label title="Meh" (click)='click(3)'>3 stars</label>

							<input type="radio" [name]="inputNameone" value="2" [checked]="ratingone===2" />
							<label title="Kinda bad" (click)='click(2)'>2 stars</label>

							<input type="radio" [name]="inputNameone" value="1" [checked]="ratingone===1" />
							<label title="Sucks big time" (click)='click(1)'>1 star</label>
							</fieldset>
						<p>Client Report</p>
							<fieldset class="ratingtwo">
							<input type="radio" [name]="inputNametwo" value="5" [checked]="ratingtwo===5" />
							<label title="Rocks!" (click)='twoclick(5)'>5 stars</label>

							<input type="radio" [name]="inputNametwo" value="4" [checked]="ratingtwo===4" />
							<label title="Pretty good" (click)='twoclick(4)'>4 stars</label>

							<input type="radio" [name]="inputNametwo" value="3" [checked]="ratingtwo===3" />
							<label title="Meh" (click)='twoclick(3)'>3 stars</label>

							<input type="radio" [name]="inputNametwo" value="2" [checked]="ratingtwo===2" />
							<label title="Kinda bad" (click)='twoclick(2)'>2 stars</label>

							<input type="radio" [name]="inputNametwo" value="1" [checked]="ratingtwo===1" />
							<label title="Sucks big time" (click)='twoclick(1)'>1 star</label>
							</fieldset>
						</td>

					</tr>
			
				</tbody>
			</table>
			
		</ng-template>

				</ngb-tab>

				<ngb-tab id="tab-future">
					<ng-template ngbTabTitle>FUTURE</ng-template>


					<ng-template ngbTabContent>
	
			<table class="table">
				<thead>
					<tr>
					<th>Customer Details</th>
					<th>Delivery Date and Time</th>
					<!-- <th>Order Items</th> -->
					<th class="th_wid">
						<table class="padzero">
							<tr>
								<td>Menus</td><td>Quantity & Price</td>
								<!-- <td>Total Bill</td> -->
							</tr>
							<!-- <tr><</tr> -->
					
						</table>
					</th>
					 <th width="100">Total Bill</th>
					<!--<th>Price</th> -->
					<th class="text-center" width="180">Order Status</th>
					<tr>
				</thead>
				<tbody>
					<tr *ngFor="let order of future_orders">
						
						<td>{{order.userslist.usr_first_name}}<br>Pin - 600044</td>
						 
						<td>2/1/2019, 9:00 AM</td>
						
						<td class="th_wid">
							<table class="padzero" *ngFor="let menu_list of order.future_orders">
								
								<tr>
								<td>
							<div class="ovtd">
								<img src="{{menu_images}}{{menu_list.menu_details.images[0].menu_imgname}}">
								<div class="hr_t">
									<h5>{{menu_list.menu_details.menu_name}}</h5>
									<span>{{menu_list.menu_details.menu_description}}</span>
								</div>
							</div>
						</td>
						<td>{{menu_list.ord_list_quantity}}X{{menu_list.menu_details.per_person_cost}}</td>
								</tr>
								
								
								
							</table>
						</td>
						<td>Rs. {{order.ord_total_amount}}</td>
						
						<td align="center" *ngIf="order.ord_status =='Cancelled'">
							
							<button class="orderstatus closed" >
							<i class="fa fa-close" aria-hidden="true"></i>{{order.ord_status}}</button>
							<!-- 

							<button class="themetr_btn margint10" (click)="Order_stats('Out_to_delivery',order.ord_id)">
								Out to Delivery
							</button> -->
						</td>

						<td align="center" *ngIf="order.ord_status =='Confirmed'">
							
							<button class="orderstatus confirm" >
							<i class="fa fa-check" aria-hidden="true"></i>{{order.ord_status}}</button>
							

							<button class="themetr_btn margint10" (click)="Order_stats('Out_to_delivery',order.ord_id)">
								Out to Delivery
							</button>
						</td>

						<td align="center" *ngIf="order.ord_status =='Out_to_delivery'" ><button class="orderstatus confirm">
							<i class="fa fa-check" aria-hidden="true"></i>Out to Delivery</button>
							<button class="themetr_btn margint10" (click)="Order_stats('Delivered',order.ord_id)">
								Delivery
							</button>
						</td>

						<td *ngIf="order.ord_status =='Delivered'" class="parachange" align="center"><button class="orderstatus delivered" (click)="Order_stats('Delivered',order.ord_id)">
							<i class="fa fa-check" aria-hidden="true"></i>Delivered</button>
							<p>Food</p>
							<fieldset class="rating">
							<input type="radio" [name]="inputName" value="5" [checked]="rating===5" />
							<label title="Rocks!" (click)='onClick(5)'>5 stars</label>

							<input type="radio" [name]="inputName" value="4" [checked]="rating===4" />
							<label title="Pretty good" (click)='onClick(4)'>4 stars</label>

							<input type="radio" [name]="inputName" value="3" [checked]="rating===3" />
							<label title="Meh" (click)='onClick(3)'>3 stars</label>

							<input type="radio" [name]="inputName" value="2" [checked]="rating===2" />
							<label title="Kinda bad" (click)='onClick(2)'>2 stars</label>

							<input type="radio" [name]="inputName" value="1" [checked]="rating===1" />
							<label title="Sucks big time" (click)='onClick(1)'>1 star</label>
							</fieldset>
						<p>Delivery</p>
							<fieldset class="ratingone">
							<input type="radio" [name]="inputNameone" value="5" [checked]="ratingone===5" />
							<label title="Rocks!" (click)='click(5)'>5 stars</label>

							<input type="radio" [name]="inputNameone" value="4" [checked]="ratingone===4" />
							<label title="Pretty good" (click)='click(4)'>4 stars</label>

							<input type="radio" [name]="inputNameone" value="3" [checked]="ratingone===3" />
							<label title="Meh" (click)='click(3)'>3 stars</label>

							<input type="radio" [name]="inputNameone" value="2" [checked]="ratingone===2" />
							<label title="Kinda bad" (click)='click(2)'>2 stars</label>

							<input type="radio" [name]="inputNameone" value="1" [checked]="ratingone===1" />
							<label title="Sucks big time" (click)='click(1)'>1 star</label>
							</fieldset>
						<p>Client Report</p>
							<fieldset class="ratingtwo">
							<input type="radio" [name]="inputNametwo" value="5" [checked]="ratingtwo===5" />
							<label title="Rocks!" (click)='twoclick(5)'>5 stars</label>

							<input type="radio" [name]="inputNametwo" value="4" [checked]="ratingtwo===4" />
							<label title="Pretty good" (click)='twoclick(4)'>4 stars</label>

							<input type="radio" [name]="inputNametwo" value="3" [checked]="ratingtwo===3" />
							<label title="Meh" (click)='twoclick(3)'>3 stars</label>

							<input type="radio" [name]="inputNametwo" value="2" [checked]="ratingtwo===2" />
							<label title="Kinda bad" (click)='twoclick(2)'>2 stars</label>

							<input type="radio" [name]="inputNametwo" value="1" [checked]="ratingtwo===1" />
							<label title="Sucks big time" (click)='twoclick(1)'>1 star</label>
							</fieldset>
						</td>

					</tr>
			
				</tbody>
			</table>
			
		</ng-template>


				</ngb-tab>

				<ngb-tab id="tab-past">
					<ng-template ngbTabTitle>PAST</ng-template>


					<ng-template ngbTabContent>
	
			<table class="table">
				<thead>
					<tr>
					<th>Customer Details</th>
					<th>Delivery Date and Time</th>
					<!-- <th>Order Items</th> -->
					<th class="th_wid">
						<table class="padzero">
							<tr>
								<td>Menus</td><td>Quantity & Price</td>
								<!-- <td>Total Bill</td> -->
							</tr>
							<!-- <tr><</tr> -->
					
						</table>
					</th>
					 <th width="100">Total Bill</th>
					<!--<th>Price</th> -->
					<th class="text-center" width="180">Order Status</th>
					<tr>
				</thead>
				<tbody>
					<tr *ngFor="let order of past_orders">
						
						<td>{{order.userslist.usr_first_name}}<br>Pin - 600044</td>
						 
						<td>2/1/2019, 9:00 AM</td>
						
						<td class="th_wid">
							<table class="padzero" *ngFor="let menu_list of order.past_orders">
								
								<tr>
								<td>
							<div class="ovtd">
								<img src="{{menu_images}}{{menu_list.menu_details.images[0].menu_imgname}}">
								<div class="hr_t">
									<h5>{{menu_list.menu_details.menu_name}}</h5>
									<span>{{menu_list.menu_details.menu_description}}</span>
								</div>
							</div>
						</td>
						<td>{{menu_list.ord_list_quantity}}X{{menu_list.menu_details.per_person_cost}}</td>
								</tr>
								
								
								
							</table>
						</td>
						<td>Rs. {{order.ord_total_amount}}</td>
						
						<td align="center" *ngIf="order.ord_status =='Cancelled'">
							
							<button class="orderstatus closed" >
							<i class="fa fa-close" aria-hidden="true"></i>{{order.ord_status}}</button>
							<!-- 

							<button class="themetr_btn margint10" (click)="Order_stats('Out_to_delivery',order.ord_id)">
								Out to Delivery
							</button> -->
						</td>

						<td align="center" *ngIf="order.ord_status =='Confirmed'">
							
							<button class="orderstatus confirm" >
							<i class="fa fa-check" aria-hidden="true"></i>{{order.ord_status}}</button>
							

							<button class="themetr_btn margint10" (click)="Order_stats('Out_to_delivery',order.ord_id)">
								Out to Delivery
							</button>
						</td>

						<td align="center" *ngIf="order.ord_status =='Out_to_delivery'" ><button class="orderstatus confirm">
							<i class="fa fa-check" aria-hidden="true"></i>Out to Delivery</button>
							<button class="themetr_btn margint10" (click)="Order_stats('Delivered',order.ord_id)">
								Delivery
							</button>
						</td>

						<td *ngIf="order.ord_status =='Delivered'" class="parachange" align="center"><button class="orderstatus delivered" (click)="Order_stats('Delivered',order.ord_id)">
							<i class="fa fa-check" aria-hidden="true"></i>Delivered</button>
							<p>Food</p>
							<fieldset class="rating">
							<input type="radio" [name]="inputName" value="5" [checked]="rating===5" />
							<label title="Rocks!" (click)='onClick(5)'>5 stars</label>

							<input type="radio" [name]="inputName" value="4" [checked]="rating===4" />
							<label title="Pretty good" (click)='onClick(4)'>4 stars</label>

							<input type="radio" [name]="inputName" value="3" [checked]="rating===3" />
							<label title="Meh" (click)='onClick(3)'>3 stars</label>

							<input type="radio" [name]="inputName" value="2" [checked]="rating===2" />
							<label title="Kinda bad" (click)='onClick(2)'>2 stars</label>

							<input type="radio" [name]="inputName" value="1" [checked]="rating===1" />
							<label title="Sucks big time" (click)='onClick(1)'>1 star</label>
							</fieldset>
						<p>Delivery</p>
							<fieldset class="ratingone">
							<input type="radio" [name]="inputNameone" value="5" [checked]="ratingone===5" />
							<label title="Rocks!" (click)='click(5)'>5 stars</label>

							<input type="radio" [name]="inputNameone" value="4" [checked]="ratingone===4" />
							<label title="Pretty good" (click)='click(4)'>4 stars</label>

							<input type="radio" [name]="inputNameone" value="3" [checked]="ratingone===3" />
							<label title="Meh" (click)='click(3)'>3 stars</label>

							<input type="radio" [name]="inputNameone" value="2" [checked]="ratingone===2" />
							<label title="Kinda bad" (click)='click(2)'>2 stars</label>

							<input type="radio" [name]="inputNameone" value="1" [checked]="ratingone===1" />
							<label title="Sucks big time" (click)='click(1)'>1 star</label>
							</fieldset>
						<p>Client Report</p>
							<fieldset class="ratingtwo">
							<input type="radio" [name]="inputNametwo" value="5" [checked]="ratingtwo===5" />
							<label title="Rocks!" (click)='twoclick(5)'>5 stars</label>

							<input type="radio" [name]="inputNametwo" value="4" [checked]="ratingtwo===4" />
							<label title="Pretty good" (click)='twoclick(4)'>4 stars</label>

							<input type="radio" [name]="inputNametwo" value="3" [checked]="ratingtwo===3" />
							<label title="Meh" (click)='twoclick(3)'>3 stars</label>

							<input type="radio" [name]="inputNametwo" value="2" [checked]="ratingtwo===2" />
							<label title="Kinda bad" (click)='twoclick(2)'>2 stars</label>

							<input type="radio" [name]="inputNametwo" value="1" [checked]="ratingtwo===1" />
							<label title="Sucks big time" (click)='twoclick(1)'>1 star</label>
							</fieldset>
						</td>

					</tr>
			
				</tbody>
			</table>
			
		</ng-template>

				</ngb-tab>

			</ngb-tabset>
			

			</div>
	</div>
	</div>
</div>
