.ovtd{width:100%;overflow:hidden;max-width:350px;margin-bottom:20px;}
.ovtd img{float:left;width:80px;margin-right:5px;}
.ovtd .hr_t{float:left;width:calc(100% - 90px);}
.ovtd .hr_t h5{font-size:15px;margin-bottom:6px}
.ovtd .hr_t span{color:#828282;font-size:16px;}
.confirm{margin-right:10px;}
.table td, .table th {
    padding: 15px 5px;
 }
 .table{margin-bottom:50px;}
 .table th {background:#ebebeb}
 .searchform i{    position: absolute;
    right: 0;
    background: #b98d35;
    color: #ffffff;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 6px;}
    .searchform input{float:right;padding-left:10px;}
.padzero td{padding:0px !important;border:0px !important}
.padzero th{padding:0px !important;border:0px !important}
.th_wid{width:480px;}
.padzero td:first-child{width:320px}
.padzero th:first-child{width:320px}
.padzero td:nth-of-type(2){width:138px}
.padzero th:nth-of-type(2){width:138px}
.padzero td:nth-of-type(3){width:138px}
.padzero th:nth-of-type(3){width:138px}
.orderstatus{background:transparent;border: 0;}
.orderstatus i{display:block;border:1px solid;border-radius:50%}

.confirm{color:green;}
.closed{color:red}
.delivered{color:#b98d36}
.confirm i{width: 26px;height: 26px;line-height: 23px;text-align: center;margin:0px auto}
.closed i{width: 26px;height: 26px;line-height: 23px;text-align: center;margin:0px auto}
.delivered i{width: 26px;height: 26px;line-height: 23px;text-align: center;margin:0px auto}





.rating {
    float:left;
}

.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0.1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
}


.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
}


.ratingone {
    float:left;
}

.ratingone:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.ratingone:not(:checked) > label {
    float:right;
    width:1em;
    padding:0.1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
}

.ratingone:not(:checked) > label:before {
    content: '★ ';
}

.ratingone > input:checked ~ label {
    color: #f70;
}

.ratingone:not(:checked) > label:hover,
.ratingone:not(:checked) > label:hover ~ label {
    color: gold;
}


.ratingone > input:checked ~ label:hover,
.ratingone > input:checked ~ label:hover ~ label,
.ratingone > label:hover ~ input:checked ~ label {
    color: #ea0;
}




.ratingtwo {
    float:left;
}

.ratingtwo:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.ratingtwo:not(:checked) > label {
    float:right;
    width:1em;
    padding:0.1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
}

.ratingtwo:not(:checked) > label:before {
    content: '★ ';
}

.ratingtwo > input:checked ~ label {
    color: #f70;
}

.ratingtwo:not(:checked) > label:hover,
.ratingtwo:not(:checked) > label:hover ~ label {
    color: gold;
}


.ratingtwo > input:checked ~ label:hover,
.ratingtwo > input:checked ~ label:hover ~ label,
.ratingtwo > label:hover ~ input:checked ~ label {
    color: #ea0;
}
fieldset{margin-bottom:20px}
.parachange p{margin-bottom:0px;}

.rightrow{display:inline-block;margin-right:0;vertical-align:top}
.rightrow a{border: 1px solid #333;padding: 5px 8px 5px 8px;border-right: 0;}
.rightrow a:last-child{border-right:1px solid #333}
.searchform{display:inline-block;position:relative;vertical-align:top;float:left}
