
.bg-light {
    background-color: transparent !important;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #b98d36;
    font-size: 17px;
    font-family: 'Work Sans', sans-serif;	
    font-weight:500;
}
.navbar-expand-sm{    justify-content: none !important;}
.logo{    display: block;margin: 12px 0 0 0;}
header{padding:20px 0;width:100%;}
.button{background: #b98d36;color: #ffffff;border: 0;ourline: none;padding: 8px 15px 8px 15px;cursor: pointer;}


