<header>
<div class="container">
	<div class="row">
		<div class="col-sm-1">
			<a href="#" [routerLink]="['/home-caterer']" class="logo"><img src="assets/images/logo.png" alt="Logo" style="height: 59px;margin-top: -14px;"></a>
		</div>
		<div class="col-sm-11">
		    <nav class="navbar navbar-expand-sm bg-light d-flex justify-content-around bd-highlight">

  <div *ngIf="!logged_in">
  <ul class="navbar-nav fleft">
    <li class="nav-item">
      <a class="nav-link" href="#" [routerLink]="['/']">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" [routerLink]="['/vendor']">Vendor</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" [routerLink]="['/add-menu']">Menu</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Who we are</a>
    </li>
</ul>
</div>
<div *ngIf="logged_in">
  <ul class="navbar-nav fleft">
    <li class="nav-item" *ngIf="!audit_deactive">
      <a class="nav-link" href="#" [routerLink]="['/profile']">Profile</a>
    </li>
    <li class="nav-item"  *ngIf="!audit_deactive">
      <a class="nav-link" href="#" [routerLink]="['/']">Message</a>
    </li>
    <li class="nav-item"  *ngIf="!audit_deactive">
      <a class="nav-link" href="#" [routerLink]="['/orders']">Orders</a>
    </li>
    <li class="nav-item" *ngIf="Caterer_admin && !audit_deactive">
      <a class="nav-link" href="#" [routerLink]="['/misreportorder']">MIS Reports</a>
    </li>
    <li class="nav-item" *ngIf="Caterer_admin">
      <a class="nav-link" href="#" [routerLink]="['/audit']">Audit</a>
    </li>
    <li class="nav-item" *ngIf="Caterer_admin && !audit_deactive">
      <a class="nav-link" href="#" [routerLink]="['/payment']">Payments</a>
    </li>
    <li class="nav-item"  *ngIf="!audit_deactive">
      <a class="nav-link" href="#" [routerLink]="['/vendor']">Vendor Info</a>
    </li>

    <li class="nav-item"  *ngIf="!audit_deactive">
      <a class="nav-link" href="#" [routerLink]="['/menu']">Menu</a>
    </li>

   
</ul>
</div>


<ul class="navbar-nav flright d-flex justify-content-end">
    <li class="nav-item">
    <a class="nav-link" href="tel:1234567890"><i class="fa fa-phone"></i> 040 339 570 20</a>
	</li>
  <div *ngIf="!logged_in">
    <li class="nav-item"><button class="button" [routerLink]="['/login']"><i class="fa fa-user"></i> Login page</button></li>
  </div>
  <div *ngIf="logged_in">
    

   <li class="nav-item dropdown">
            <button class="button"  data-toggle="dropdown" (click)="togglemenu()" role="button" aria-haspopup="true" aria-expanded="false" style="cursor:pointer;"><i class="fa fa-user"></i> {{first_name}} <i class="fa fa-caret-down"></i></button>
            <div *ngIf="menudropdown" class="dropdown-menu" style="display:block">
                <a class="dropdown-item" [routerLink]="['/dashboard']">Dashboard</a>
                <a class="dropdown-item" (click)="logout()">Logout</a>
               <!--  <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a> -->
            </div>
        </li>
  </div>
  </ul>

</nav>


		    
		</div>
	</div>
</div>

</header>