.ovtd{width:100%;overflow:hidden;max-width:240px;}
.ovtd img{float:left;width:40px;margin-right:5px;}
.ovtd .hr_t{float:left;width:calc(100% - 50px);}
.ovtd .hr_t h5{font-size:15px;margin-bottom:6px}
.ovtd .hr_t span{color:#828282;font-size:16px;}
.confirm{margin-right:10px;}
.table td, .table th {
    padding: 15px 5px;
 }
 .table{margin-bottom:50px;}
 .table th {background:#ebebeb}
 .searchform i{    position: absolute;
    right: 0;
    background: #b98d35;
    color: #ffffff;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 6px;}
    .searchform input{float:right;padding-left:10px;}
    .table th, td{font-weight:500}