<hr>
<div class="container paddt30">
	<div class="row">
		<div class="col-md-6">
			<h2 class="headerh2">MIS Reports</h2>
		</div>
		<div class="col-md-6 searchform">
			<input type="text" class="search" placeholder="Search here"><i class="fa fa-search"></i>
		</div>
 
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table margin_b_50">
				<thead>
					<tr>
					<th>Date</th>
					<th>Item Name</th>
					<th>Quantity</th>
					<th>Value</th>
					<th>Client Name</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let reportitem of itemsreport; let i = index;">
						<td>{{reportitem.date}}</td>
						<td>{{reportitem.variety}}</td>
						<td>{{reportitem.value}}</td>
						<td>{{reportitem.amt}}</td>
						<td>{{reportitem.clnews}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>