<div class="greybg">
<div class="container max500">
    <h2 class="headerh2">Login</h2>
                <form name="form" class="row whitebg"(ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    <div class="col-md-12">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" name="email" [(ngModel)]="username" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
                        <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                            <div *ngIf="email.errors.required">Email is required</div>
                            <div *ngIf="email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="password1" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6" />
                        <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                            <div *ngIf="password.errors.required">Password is required</div>
                            <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>

                    <div class="ovfld">
                        <input type="submit" class="btn btn-success">
                        <input type="reset" class="btn btn-danger">
                    </div>

                    <div class="col-md-7 text-right">
                        <a [routerLink]="['/forgetpassword']">Forgot Password ?</a>
                    </div>
                    <div class="col-md-5">
                        <a [routerLink]="['/signup']">Sign Up</a>
                    </div>

                </form>
            </div>
        </div>