<hr>
<div class="container paddt30">
	<div class="row">

		<div class="col-md-6" style="padding-left:0">
			<h2 class="headerh2" >Confirmation</h2>
		</div>
		
		<div class="col-md-6 text-right">
			<div class="searchform">
				 
				<input type="text" class="search" [(ngModel)]="Search_items" placeholder="Meal Type, Cuisine Type, Package Type"><i (click)="updateFilter($event);"class="fa fa-search"></i>
				
			</div>
			<button class="theme_btn"[routerLink]="['/add-menu']">ADD NEW MENU</button>
		</div>

			<div class="col-md-8 golive" *ngIf="is_menu_added == '1'">
				<button class="theme_btn pull-right" (click)="goLive()">Go Live</button>
			</div>
		
 <h3>{{total_count}} Menus</h3>
	</div> 
	
	<div class="row bggrey" *ngFor="let menu of AllMenu_list;let i = index">
		<div class="col-md-3">
			<ng-container *ngIf="menu.images.length>0">
			<img src="{{Menu_image}}{{menu.images[0].menu_imgname}}" alt="Menu" class="
			img-responsive">
		</ng-container>
		<ng-container *ngIf="!menu.images.length>0">
			<img src="{{NO_Image}}" alt="Menu" class="img-responsive">
		</ng-container>

		</div>
		<div class="col-md-6">
			<h4>{{menu.menu_name | uppercase }}</h4>
			<p>{{menu.menu_description}}</p>
			<!-- <h5>Min - {{menu.min_order}} : Max - {{menu.max_order}}</h5> -->
			<h4 class="orangecol">Lead Time : {{menu.caterer.catt_lead_time}} Days</h4>
			<div class="editdot">

				<ng-container *ngIf="menu.is_veg ==1">
				<img src="assets/images/veg_dot.png" alt="Menu"> Vegeterian
			</ng-container>

			<ng-container *ngIf="menu.is_veg != 1">
				<img src="assets/images/nonveg_dot.png" alt="Menu"> Non Vegeterian
			</ng-container>
			</div>
			<div class="edioption">
				<span><img src="assets/images/caterars.png" alt="meal_type"> {{menu.meal_type.mealtype_name}} </span>
				<span><img src="assets/images/cusine.png" alt="Cusine"> {{menu.cuisint_type.cuis_name}} </span>
				<span><img src="assets/images/caterars.png" alt="Package"> {{menu.package_type.pack_name}} </span>
			</div>
		</div>
		<div class="col-md-3 text-right">
			<p>
				<ng-container *ngIf="menu.is_recommended == 1">
				<img src="assets/images/menu_spoon.png" alt="Menu Spoon" class="fleft">
				</ng-container>
				<a (click)="edit_menu(menu.menu_name, menu.caterer.catt_first_name, menu.menu_id)" class="editicon"><i class="fa fa-edit "></i></a><a (click)="delete(menu.menu_id)"class="deleteicon"><i class="fa fa-trash"></i></a></p>
			<h4 class="pricetitle">Rs. {{menu.per_person_cost}}</h4>
			<h5 class="persontitle">Per person</h5>
			<button class="btngreen" *ngIf="menu.discount_off">{{menu.discount_off}}% OFF</button>
		</div>
	</div>
	<!-- <div class="row bggrey">
		<div class="col-md-3">
			<img src="assets/images/menu_item.png" alt="Menu" class="img-responsive">
		</div>
		<div class="col-md-6">
			<h4>MEETING PLATE HAPPY HOLIDAY</h4>
			<p>Meeting plate Happy Fest - Blini Smoked Salmon Brioche rabbit plum | Pumpernickel Rumtartchen | Walnut bread & Tele de Moine | Canape cheese.</p>
			<h5>Min - 50 : Max - 100</h5>
			<h4 class="orangecol">Lead Time : 5 Days</h4>
			<div class="editdot">
				<img src="assets/images/menu_dot.png" alt="Menu"> Vegeterian
			</div>
			<div class="edioption">
				<span><img src="assets/images/caterars.png" alt="caterars"> Meal Type </span>
				<span><img src="assets/images/cusine.png" alt="Cusine"> Cuisine type </span>
				<span><img src="assets/images/caterars.png" alt="caterars"> Packing Type </span>
			</div>
		</div>
		<div class="col-md-3 text-right">
			<p><img src="assets/images/menu_spoon.png" alt="Menu Spoon" class="fleft">
				<a href="#" class="editicon"><i class="fa fa-edit "></i></a><a href="" class="deleteicon"><i class="fa fa-trash"></i></a></p>
			<h4 class="pricetitle">Rs. 3,500</h4>
			<h5 class="persontitle">Per person</h5>
			<button class="btngreen">50% OFF</button>
		</div>
	</div> -->
	<!-- <div class="row bggrey">
		<div class="col-md-3">
			<img src="assets/images/menu_item.png" alt="Menu" class="img-responsive">
		</div>
		<div class="col-md-6">
			<h4>MEETING PLATE HAPPY HOLIDAY</h4>
			<p>Meeting plate Happy Fest - Blini Smoked Salmon Brioche rabbit plum | Pumpernickel Rumtartchen | Walnut bread & Tele de Moine | Canape cheese.</p>
			<h5>Min - 50 : Max - 100</h5>
			<h4 class="orangecol">Lead Time : 5 Days</h4>
			<div class="editdot">
				<img src="assets/images/menu_dot.png" alt="Menu"> Vegeterian
			</div>
			<div class="edioption">
				<span><img src="assets/images/caterars.png" alt="caterars"> Meal Type </span>
				<span><img src="assets/images/cusine.png" alt="Cusine"> Cuisine type </span>
				<span><img src="assets/images/caterars.png" alt="caterars"> Packing Type </span>
			</div>
		</div>
		<div class="col-md-3 text-right">
			<p><img src="assets/images/menu_spoon.png" alt="Menu Spoon" class="fleft">
				<a href="#" class="editicon"><i class="fa fa-edit "></i></a><a href="" class="deleteicon"><i class="fa fa-trash"></i></a></p>
			<h4 class="pricetitle">Rs. 3,500</h4>
			<h5 class="persontitle">Per person</h5>
			<button class="btngreen">50% OFF</button>
		</div>
	</div> -->
</div>