.searchform i{       position: absolute;
    right: 0;
    background: #b98d35;
    color: #ffffff;
    width: 35px;
    height: 40px;
    text-align: center;
    padding-top: 11px;}
    .searchform {display:inline-block;position:relative;margin-right:10px;    width: calc(100% - 190px);}
    .searchform input{width: 100%;padding: 6px;}
    h3{    color: #828282;
    font-size: 22px;
    position: relative;
    padding: 0 0 6px 0;
    margin-bottom: 30px;}
    h3::after{
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 2px;
    background: #282b2e;
    left: 0;
    content: "";
}
.bggrey{background:#f2f2f2;padding: 15px 0;margin-bottom:15px;border:1px solid #e1e1e1}
.bggrey h4{color:#333333;font-size:20px;}
.edioption span{font-size:16px;text-transform:uppercase;margin-right:20px;}
.edioption span img{max-width:18px}
.img-responsive{max-width:100%}
.edioption{margin:20px 0 0 0}
.editicon i{color: green;font-size: 28px;margin-right: 15px;}
.deleteicon i{color:red;font-size:28px;}
.pricetitle{margin: 60px 0 0 0;font-size: 24px !important;}
.persontitle{font-size:22px;color:#828282;}
.btngreen{border: 2px dotted green;background: transparent;padding: 4px 10px 4px 10px;margin-top: 30px;}
.bggrey:last-child{margin-bottom:50px;}
.golive{position: absolute;margin-top: 80px;margin-left: 286px;}
