<hr>
<div class="container">
<h2 class="headerh2">My Cart</h2>
<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
					<th width="240">Menu</th>
					<th width="320">Menu Description</th>
					<th>Quantity</th>
					<th>Cost</th>
					<th>Total</th>
					<th>&nbsp;</th>
					</tr>
					</thead>
					<tbody>
						<tr *ngFor="let tablelist of tlist;let i=index;">
							<td>{{tablelist.meetype}}</td>
							<td>{{tablelist.desc}}</td>
							<td><div class="buttoncount">
							<button (click)="incfn('minus', i)">-</button>
							<label>{{tablelist.incval}}</label>
							<button (click)="incfn('plus', i)">+</button>
							</div></td>
							<td>{{tablelist.cost}}</td>
							<td>{{tablelist.total}}</td>
							<td><i class="fa fa-trash redcolor"></i></td>
						</tr>
						<tr class="subtotal">
							<td colspan="4" align="right">Subtotal</td>
							<td colspan="2" align="left">Rs. 39,000</td>
						</tr>
						<tr class="subtotal">
							<td colspan="4" align="right">Tax</td>
							<td colspan="2" align="left">Rs. 4,000</td>
						</tr>
						<tr class="bgcolortotal">
							<td colspan="4" align="right">Total</td>
							<td colspan="2" align="left">Rs. 44,000</td>
						</tr>
					</tbody>
				</table>
			</div>
			<h3 class="themecolor instrc">Instruction</h3>
			<br>
				<div class="col-md-6">
					<ul class="righttick">
						<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's. </li>
						<li>Lorem Ipsum is simply dummy text of the printing and
typesetting industry. Lorem Ipsum has been the industry's. </li>
						<li>Lorem Ipsum is simply dummy text of the printing and
typesetting industry. Lorem Ipsum has been the industry's. </li>
						<li>Lorem Ipsum is simply dummy text of the printing and
typesetting industry. Lorem Ipsum has been the industry's. </li>
						
					</ul>
					<p class="checkbx">
						<label for="savethis"><input type="checkbox" id="savethis"> Save this menu for future order</label>
					</p>
				</div>
				<div class="col-md-6">
					<ul class="righttick">
						<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's. </li>
						<li>Lorem Ipsum is simply dummy text of the printing and
typesetting industry. Lorem Ipsum has been the industry's. </li>
						<li>Lorem Ipsum is simply dummy text of the printing and
typesetting industry. Lorem Ipsum has been the industry's. </li>
						<li>Lorem Ipsum is simply dummy text of the printing and
typesetting industry. Lorem Ipsum has been the industry's. </li>
					</ul>
					<p class="btnsubmission">
						<button class="themetr_btn mar10right">BACK TO MENUS</button>
						<button class="theme_btn">PROCEED TO CHECKOUT</button>
					</p>
				</div>
</div>