.table thead th{background:#ebebeb}
.table .fa-trash{font-size:16px}
.buttoncount label{margin: 0 8px 0 8px;width: 30px;text-align: center;}
.bgcolortotal{background:#ebebeb}
.bgcolortotal td{font-size:24px;font-weight:600}
.subtotal td{font-size:20px;font-weight:600}
.righttick{list-style-image:url(/assets/images/tick.png)}
.righttick li{padding:15px 0}
.instrc{display:block;overflow:hidden;width:100%;padding:15px}
.checkbx{padding:15px}
.checkbx label{font-weight:bold}
.btnsubmission{text-align:right;margin-bottom:100px}