<hr>
<div class="container paddt30">
	<div class="row">
		<div class="col-md-6">
			<h2 class="headerh2">MIS Reports</h2>
		</div>
		<div class="col-md-6 searchform">
			 <form (keydown)="keyDownFunction($event)">
			<input type="text" name="search" [(ngModel)]="Search_items" class="search" placeholder="Search here"><i (click)="updateFilter($event);"class="fa fa-search"></i>
		</form>
		</div>
 
	</div>


	<div class="row" style="padding-bottom: 40px">
		<div class="col-md-12">
		<!-- 	<table class="table margin_b_50">
				<thead>
					<tr>
					<th>Date</th>
					<th>Order No</th>
					<th width="280">Transaction Detail</th>
					<th>Client Name</th>
					<th>Order Status</th>
					<th>Payment Status</th>
					<th>Price</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let reportorder of ordersreport; let i = index;">
						<td>{{reportorder.created_at | date  : "dd-mm-yyyy"}}</td>
						<td>{{reportorder.order_id}}</td>
						<td>{{reportorder.ord_transation_status}}</td>
						<td>{{reportorder.userslist.usr_first_name}}</td>
						<td>{{reportorder.ord_status}}</td>
						<td>{{reportorder.ord_transation_status}}</td>
						<td>{{reportorder.ord_total_amount}} <span class="lightgrey">Per Person</span></td>
					</tr>
				</tbody>
			</table> -->



<ag-grid-angular 
    #agGrid
    style="height: 200px;" 
    class="ag-theme-balham"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    rowSelection="multiple"
    >
</ag-grid-angular>

</div>


	</div>

	<!-- <button (click)="getSelectedRows()">Get Selected Rows</button> -->





</div>