.bannersection{width:100%;overflow:hidden;background:url(/assets/images/caterar_order_banner.png) no-repeat;background-size:cover;background-position:center;min-height:267px;}
.bannersection img{width:100%;display:block;}


/*form section start*/
.form_sec{background:#ebebeb;padding:40px 0}
.form_sec div.formsdiv{position:relative;float:left;margin-right:20px;width:calc(18% - 20px)}
.form_sec div.formsdiv i{position:absolute;top:10px;left:5px;opacity:0.7}
.form_sec div.formsdiv input{width:100%;background:#fff;border:1px solid #ccc;height:35px;padding-left:24px;}
.form_sec div.formsdiv select{width:100%;background:#fff;border:1px solid #ccc;height:35px;padding-left:10px;}
.padd015{padding:0 15px;height:33px}
.highlighting{padding:30px 0}
.highlighting a{display:inline-block;background:#ffffff;border-radius:10px;color:#828282;padding:5px 10px;margin:0 10px 0 0;cursor:pointer}
.highlighting a:hover{background:#333333;color:#ffffff}
hr{width:100%}

.reorder i:first-child{background: #282b2e;color: #fff;padding: 8px 4px 8px 12px;display: inline-block;
    border-top-left-radius: 20px;border-bottom-left-radius: 20px;}
.reorder i:nth-of-type(2){background: #ebebeb;color: #333;padding: 8px 12px 8px 4px;display: inline-block;
    border-top-right-radius: 20px;border-bottom-right-radius: 20px;}

/*form section end*/


/* grid section start */

.grid_section{width:100%;overflow:hidden;padding:40px 0}



.grid-section{}
.menuh {
    display: block;
    text-align: left;
    position: relative;
    padding-bottom: 10px;
    font-family: 'Work Sans';
    color:#828282;
}
.menuh::after {
    position: absolute;
    bottom: 0;
    width: 70px;
    height: 2px;
    background: #282b2e;
    left: 0;
    content: "";
}
.likecart{position:absolute;z-index:12}
.likecart a{background: #333;padding: 2px 7px;color: #fff;display: inline-block;margin: 5px;}
h4{font-size:22px}
.mart40{margin-top:-40px !important}
.buttoncount label{margin: 0 8px 0 8px;width: 30px;text-align: center;}
.testtd{width:100%}
.testtd td{padding:0 0 0px 0}
h5 label{display: block;color: #828282;font-size:15px}
.placedish{width:260px;}
.mintableheight{min-height:270px;}
.certified{display:block;margin-bottom:20px}
.viewalltext strong{margin-right:20px;}

/* grid section end */


