<!-- banner section -->

<section class="bannersection">
	<!-- <img src="assets/images/caterar_order_banner.png" alt="Caterar Orders"> -->
</section>

<!-- banner section end -->


<!-- form section -->
<section class="form_sec">
	<div class="container">
		<div class="row">
			<div class="formsdiv">
				<i class="fa fa-map-marker"></i><input type="text" class="input" name="Place" placeholder="Place">
			</div>
			<div class="formsdiv">
				<input type="text" #dp="bsDatepicker" placeholder="Date" bsDatepicker [(bsValue)]="myDateValue"><i class="fa fa-calendar"></i>
			</div>
			<div class="formsdiv">
			<input atp-time-picker value="" name="Dfromtime" placeholder="Delivery From Time" /><i class="fa fa-clock-o" aria-hidden="true"></i>
			</div>
			<div class="formsdiv">
			<select name="budget" placeholder="">
				<option value="volvo">Budget per person</option>
				<option value="saab">Saab</option>
				<option value="mercedes">Mercedes</option>
				<option value="audi">Audi</option>
			</select>
			</div>
			<div class="formsdiv">
			<input name="guests" placeholder="Num.of.Guests" /><i class="fa fa-user" aria-hidden="true"></i>
			</div>
			<input type="submit" class="theme_btn padd015" value="Search">
		</div>
		<div class="row highlighting">
			<a class="">Vegetarian Only</a>
			<a class="">Non-Vegetarian</a>
			<a class="">Breakfast</a>
			<a class="">Lunch</a>
			<a class="">Dinner</a>
			<a class="">Sweets</a>
			<a class="">Snacks</a>
			<hr>
			<a class=""><i class="fa fa-star"></i> Most Booked</a>
			<a class=""><i class="fa fa-cc-diners-club" aria-hidden="true"></i> Latest Caterars</a>
		</div>
	</div>
</section>

<!-- form section end -->


<!-- grid section start -->

<section class="grid_section">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<p class="menuh">50 Caterars</p>
			</div>
			<div class="col-md-4">
				<p class="menuh">700 Menus</p>
			</div>
			<div class="col-md-4 text-right">
				<div class="reorder">
				<i class="fa fa-list" aria-hidden="true"></i> <i class="fa fa-th"></i>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 onlineordergrid text-center">
				<div class="likecart">
					<a href="#"><i class="fa fa-cart-plus"></i></a>
					<a href="#"><i class="fa fa-heart"></i></a>
				</div>
		<ngx-carousel
        [inputs]="carouselOnetest"
        (carouselLoad)="myfunc($event)">
          <ngx-item NgxCarouselItem>
           <img src="assets/images/order1.png" class="reponsiveimg">
          </ngx-item>
          <ngx-item NgxCarouselItem>
            <img src="assets/images/order1.png" class="reponsiveimg">
          </ngx-item>
          <ngx-item NgxCarouselItem>
           <img src="assets/images/order1.png" class="reponsiveimg">
          </ngx-item>
          <ngx-item NgxCarouselItem>
            <img src="assets/images/order1.png" class="reponsiveimg">
          </ngx-item>
          <ngx-item NgxCarouselItem>
            <img src="assets/images/order1.png" class="reponsiveimg">
          </ngx-item>
          <button NgxCarouselPrev class='leftRs' style="visibility: hidden;">&lt;</button>
          <button NgxCarouselNext class='rightRs' style="visibility: hidden;">&gt;</button>
    </ngx-carousel>
			<h4 class="mart40">BLEIBTREU CATERING</h4>
			<p> All-round catering for all business events, meetings & lunches</p>
			<strong>Min - 50 : Max - 200</strong>
			<br><br>
			<button class="themetr_btn">Lead time : 5 Days</button>
			</div>
			<div class="col-md-8">
				<div class="mintableheight">
				<table class="testtd">
					<tr *ngFor="let place of placelist; let i=index;">
						<td class="placedish"><h5>{{place.dish}}</h5></td>
						<td align="right">
							<div class="buttoncount">
							<button (click)="incfn('minus',i)">-</button>
							<label>{{place.incval}}</label>
							<button (click)="incfn('plus',i)">+</button>
						</div>
						</td>
						<td><h5 class="text-right">{{place.rupee}}<label>Per person</label></h5></td>
					</tr>
					

					</table>
				</div>
				<img src="assets/images/certified.jpg" class="certified">
				<div class="row menugreen">
					<div class="col-sm-4">
						<span>
						<img src="assets/images/menu_dot.png"> Vegetarian
						</span>
					</div>
					<div class="col-sm-8 text-right viewalltext">
						<strong>THIS CATERAR HAS MORE THAN 18 MENUS</strong> <button class="theme_btn">Show All</button>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>


<!-- grid section end -->