<div class="greybg">
<div class="container max500">
	<h2 class="headerh2">Forgot Password</h2>
<form name="form" class="row whitebg"(ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

		<div class="col-md-12">

			<label for="email">Email Address</label>
                        <input type="text" class="form-control" name="email" [(ngModel)]="username" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email/>
                        <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                            <div *ngIf="email.errors.required">Email Address is required</div>
                            <div *ngIf="email.errors.email">Email must be a valid email address</div>			
		</div>
	</div>
		
		<div class="ovfld">
			<input type="submit" class="btn btn-success">
			<input type="reset" class="btn btn-danger">
		</div>
	</form>
</div>
</div>