.ovtd{width:100%;overflow:hidden;max-width:350px;margin-bottom:20px;}
.ovtd img{float:left;width:80px;margin-right:5px;}
.ovtd .hr_t{float:left;width:calc(100% - 90px);}
.ovtd .hr_t h5{font-size:15px;margin-bottom:6px}
.ovtd .hr_t span{color:#828282;font-size:16px;}	
.table td, .table th {
    padding: 15px 5px;
 }
 .table{margin-bottom:50px;}
 .table th {background:#ebebeb}
 .searchform i{    position: absolute;
    right: 0;
    background: #b98d35;
    color: #ffffff;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 6px;}
    .searchform input{float:right;padding-left:10px;}
.padzero td{padding:0px !important;border:0px !important}
.padzero th{padding:0px !important;border:0px !important}
.th_wid{width:480px;}
.padzero td:first-child{width:320px}
.padzero th:first-child{width:320px}
.padzero td:nth-of-type(2){width:138px}
.padzero th:nth-of-type(2){width:138px}
.padzero td:nth-of-type(3){width:138px}
.padzero th:nth-of-type(3){width:138px}
.orderstatus{background:transparent;border: 0;}
.orderstatus i{display:block;border:1px solid;border-radius:50%}
 .searchform i{    position: absolute;
    right: 0;
    background: #b98d35;
    color: #ffffff;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 6px;}
    .searchform input{float:right;padding-left:10px;}
    .confirm{margin-right:10px}