<hr>
<div class="container paddt30">
	<div class="row">
		<div class="col-md-6">
			<h2 class="headerh2">Confirmation</h2>
		</div>
		<div class="col-md-6 searchform">
			<input type="text" class="search" placeholder="Search here"><i class="fa fa-search"></i>
		</div> 
	</div>
	<div class="row">
		<div class="col-md-12">
			<ng-container *ngIf="order_list.length>0">
			<table class="table">
				<thead>
					<tr>
					<th>Customer Details</th>
					<th>Delivery Date and Time</th>
					<!-- <th>Order Items</th> -->
					<th class="th_wid">
						<table class="padzero">
							<tr>
								<td>Menus</td><td>Quantity & Price</td>
							</tr>
					
						</table>
					</th>
					 <th width="100">Total Bill</th>
					<!--<th>Price</th> -->
					<th class="text-center" width="180">Order Status</th>
					</tr>
				</thead>
				<tbody>
					
					<tr *ngFor="let order of order_list">
						
						<td>{{order.userslist.usr_first_name}}<br>Pin - 600044</td>
						 
						<td>2/1/2019, 9:00 AM</td>
						<!-- <ng-container > -->
						<td class="th_wid">
							<table class="padzero" *ngFor="let menu_list of order.order_list">
								<tr>
								<td>
							<div class="ovtd">
								<img src="{{menu_images}}{{menu_list.menu_details.images[0].menu_imgname}}">
								<div class="hr_t">
									<h5>{{menu_list.menu_details.menu_name}}</h5>
									<span>{{menu_list.menu_details.menu_description}}</span>
								</div>
							</div>
						</td>
						<td>{{menu_list.ord_list_quantity}}X{{menu_list.menu_details.per_person_cost}}</td>
								</tr>						
							</table>
						</td>
						<td>Rs. {{order.ord_total_amount}}
						</td>
					<!-- </ng-container> -->
						<td align="center"><button (click)="Order_stats('Confirmed',order.ord_id)"class="confirm btn btn-success btn-sm">Confirm</button><button class="cancel btn btn-danger btn-sm" (click)="Cancel(order.ord_id)">Cancel</button>

						</td>
					</tr>
				
					
				</tbody>
			</table>
			</ng-container>
				<ng-container *ngIf="order_list.length == 0">
					<h5>No New Order Placed</h5>
				</ng-container>
		</div>
	</div>
	</div>




<!-- 	<ng-container *ngIf="showpopup">

	</ng-container> -->