<!-- banner section -->

<section class="banner">
	<!-- <img src="assets/images/caterar_order_banner.png" alt="Caterar Orders"> -->
</section>

<!-- banner section end -->


<!-- form section -->
<section class="form_sec">
	<div class="container">
		<div class="row">
			<div class="formsdiv">
				<i class="fa fa-map-marker"></i><input type="text" class="input" name="Place" placeholder="Place">
			</div>
			<div class="formsdiv">
				<input type="text" #dp="bsDatepicker" bsDatepicker [(bsValue)]="myDateValue"><i class="fa fa-calendar"></i>
			</div>
			<div class="formsdiv">
			<input atp-time-picker value="" name="Dfromtime" placeholder="Delivery From Time" /><i class="fa fa-clock-o" aria-hidden="true"></i>
			</div>
			<div class="formsdiv">
			<select name="budget" placeholder="">
				<option value="volvo">Budget per person</option>
				<option value="saab">Saab</option>
				<option value="mercedes">Mercedes</option>
				<option value="audi">Audi</option>
			</select>
			</div>
			<div class="formsdiv">
			<input name="guests" placeholder="Num.of.Guests" /><i class="fa fa-user" aria-hidden="true"></i>
			</div>
			<input type="submit" class="theme_btn padd015">
		</div>
	</div>
</section>

<!-- form section end -->

<!-- catering title section start-->

<section class="cateringtitle">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
	<h2>BLEIBTREU CATERING</h2>
	<h4>All-round catering for all business events, meetings & lunches
	<label class="themecolor">Lead Time : 5 Days</label>
	</h4>
</div>
<div class="col-md-4 text-right">
<h4><i><img src="assets/images/cat_mobile.png" alt="Mobile"></i> 040 123 1245</h4>
<button class="theme_btn">REQUEST OFFER</button>
</div>
</div>
</div>
</section>

<!-- catering section end -->


<!-- menu cart section -->

<section class="menucartsection">
	<div class="container">
		<label class="menunumbers">8 Menus</label>
		<div class="row">
			<div class="catering_left">
				<div class="table_list">
					<div class="table_fone">
						<h5>Combo - 1 <span>(Select any 3)</span></h5>
						<p>Meeting Plate Classic - Mini Wraps Vegetables | Mini Wraps Tuna | Mini Wraps Turkey | Mini Wraps vegan | Mini sandwiches Emmentaler - vegan - tuna - salami</p>
						<div class="inputbox">
							<label class="inputcheckbox">Veg Puff
							<input type="checkbox" checked="checked">
							<span class="checkmark"></span>
							</label>
							<label class="inputcheckbox">Idly
							<input type="checkbox" checked="checked">
							<span class="checkmark"></span>
							</label>
							<label class="inputcheckbox">Biscuit
							<input type="checkbox" checked="checked">
							<span class="checkmark"></span>
							</label>
							<label class="inputcheckbox">Ice Cream
							<input type="checkbox" checked="checked">
							<span class="checkmark"></span>
							</label>
						</div>
						<div class="inputbox">
							<div class="fleft">
								<h5>Min - 50 : Max - 100</h5>
							</div>
							<div class="flright btext">
								<img src="assets/images/menu_dot.png"> VEGETARIAN
							</div>
						</div>
					</div>
					<div class="table_ftwo">
						<div class="buttoncount">
							<button (click)="incfn('minus')">-</button>
							<label>{{incval}}</label>
							<button (click)="incfn('plus')">+</button>
						</div>
					</div>
					<div class="table_fthree text-right">
						<div class="text-right"><i class="fa fa-shopping-cart themecolor f20"></i></div>
						<h5>Rs. 1500</h5>
						<label>Per person</label>
						<button class="theme_btn morebtn">More Details</button>
					</div>
				</div>
				<div class="table_list">
					<div class="table_fone">
						<h5>Combo - 1 <span>(Select any 3)</span></h5>
						<p>Meeting Plate Classic - Mini Wraps Vegetables | Mini Wraps Tuna | Mini Wraps Turkey | Mini Wraps vegan | Mini sandwiches Emmentaler - vegan - tuna - salami</p>
						<div class="inputbox">
							<label class="inputcheckbox">Veg Puff
							<input type="checkbox" checked="checked">
							<span class="checkmark"></span>
							</label>
							<label class="inputcheckbox">Idly
							<input type="checkbox" checked="checked">
							<span class="checkmark"></span>
							</label>
							<label class="inputcheckbox">Biscuit
							<input type="checkbox" checked="checked">
							<span class="checkmark"></span>
							</label>
							<label class="inputcheckbox">Ice Cream
							<input type="checkbox" checked="checked">
							<span class="checkmark"></span>
							</label>
						</div>
						<div class="inputbox">
							<div class="fleft">
								<h5>Min - 50 : Max - 100</h5>
							</div>
							<div class="flright btext">
								<img src="assets/images/menu_dot.png"> VEGETARIAN
							</div>
						</div>
					</div>
					<div class="table_ftwo">
						<div class="buttoncount">
							<button (click)="incfn('minus')">-</button>
							<label>{{incval}}</label>
							<button (click)="incfn('plus')">+</button>
						</div>
					</div>
					<div class="table_fthree text-right">
						<div class="text-right"><i class="fa fa-shopping-cart themecolor f20"></i></div>
						<h5>Rs. 1500</h5>
						<label>Per person</label>
						<button class="theme_btn morebtn">More Details</button>
					</div>
				</div>
				<div class="table_list">
					<div class="table_fone">
						<h5>Combo - 1 <span>(Select any 3)</span></h5>
						<p>Meeting Plate Classic - Mini Wraps Vegetables | Mini Wraps Tuna | Mini Wraps Turkey | Mini Wraps vegan | Mini sandwiches Emmentaler - vegan - tuna - salami</p>
						<div class="inputbox">
							<label class="inputcheckbox">Veg Puff
							<input type="checkbox" checked="checked">
							<span class="checkmark"></span>
							</label>
							<label class="inputcheckbox">Idly
							<input type="checkbox" checked="checked">
							<span class="checkmark"></span>
							</label>
							<label class="inputcheckbox">Biscuit
							<input type="checkbox" checked="checked">
							<span class="checkmark"></span>
							</label>
							<label class="inputcheckbox">Ice Cream
							<input type="checkbox" checked="checked">
							<span class="checkmark"></span>
							</label>
						</div>
						<div class="inputbox">
							<div class="fleft">
								<h5>Min - 50 : Max - 100</h5>
							</div>
							<div class="flright btext">
								<img src="assets/images/menu_dot.png"> VEGETARIAN
							</div>
						</div>
					</div>
					<div class="table_ftwo">
						<div class="buttoncount">
							<button (click)="incfn('minus')">-</button>
							<label>{{incval}}</label>
							<button (click)="incfn('plus')">+</button>
						</div>
					</div>
					<div class="table_fthree text-right">
						<div class="text-right"><i class="fa fa-shopping-cart themecolor f20"></i></div>
						<h5>Rs. 1500</h5>
						<label>Per person</label>
						<button class="theme_btn morebtn">More Details</button>
					</div>
				</div>
				<div class="table_list">
					<div class="table_fone">
						<h5>Combo - 1 <span>(Select any 3)</span></h5>
						<p>Meeting Plate Classic - Mini Wraps Vegetables | Mini Wraps Tuna | Mini Wraps Turkey | Mini Wraps vegan | Mini sandwiches Emmentaler - vegan - tuna - salami</p>
						<div class="inputbox">
							<label class="inputcheckbox">Veg Puff
							<input type="checkbox" checked="checked">
							<span class="checkmark"></span>
							</label>
							<label class="inputcheckbox">Idly
							<input type="checkbox" checked="checked">
							<span class="checkmark"></span>
							</label>
							<label class="inputcheckbox">Biscuit
							<input type="checkbox" checked="checked">
							<span class="checkmark"></span>
							</label>
							<label class="inputcheckbox">Ice Cream
							<input type="checkbox" checked="checked">
							<span class="checkmark"></span>
							</label>
						</div>
						<div class="inputbox">
							<div class="fleft">
								<h5>Min - 50 : Max - 100</h5>
							</div>
							<div class="flright btext">
								<img src="assets/images/menu_dot.png"> VEGETARIAN
							</div>
						</div>
					</div>
					<div class="table_ftwo">
						<div class="buttoncount">
							<button (click)="incfn('minus')">-</button>
							<label>{{incval}}</label>
							<button (click)="incfn('plus')">+</button>
						</div>
					</div>
					<div class="table_fthree text-right">
						<div class="text-right"><i class="fa fa-shopping-cart themecolor f20"></i></div>
						<h5>Rs. 1500</h5>
						<label>Per person</label>
						<button class="theme_btn morebtn">More Details</button>
					</div>
				</div>
			</div>
			<div class="catering_right">
				<div class="cbg">
					<img src="assets/images/cat_order_side.png" alt="caterar orders" class="reponsiveimg">
					<h3>BLEIBTREU</h3>
					<p>All-round catering for all business events, meetings & lunches</p>
					<div class="contact">
						<i class="fa fa-envelope"></i>
						<a href="mailto:bleibtreu@gmail.com">bleibtreu@gmail.com</a>
					</div>
					<div class="contact brbtm">
						<i class="fa fa-phone"></i>
						<a href="tel:040 339 570 13">040 339 570 13</a>
					</div>
					<div class="gallery">
						<p>Gallery</p>
						<div class="galimg">
							<img src="assets/images/catg1.png">
							<img src="assets/images/catg2.png">
							<img src="assets/images/catg3.png">
							<img src="assets/images/catg4.png">
						</div>
					</div>
					<div class="socialgallery">
						Follow us on : <i class="fa fa-facebook circle"></i> <i class="fa fa-youtube circle"></i> <i class="fa fa-twitter circle"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- menu cart section end -->

