.banner{width:100%;overflow:hidden;background:url(/assets/images/caterar_order_banner.png) no-repeat;background-size:cover;background-position:center;min-height:267px;}
.banner img{width:100%;display:block;}


/*form section start*/
.form_sec{background:#ebebeb;padding:40px 0}
.form_sec div.formsdiv{position:relative;float:left;margin-right:20px;width:calc(18% - 20px)}
.form_sec div.formsdiv i{position:absolute;top:10px;left:10px;opacity:0.7}
.form_sec div.formsdiv input{width:100%;background:#fff;border:1px solid #ccc;height:35px;padding-left:24px;}
.form_sec div.formsdiv select{width:100%;background:#fff;border:1px solid #ccc;height:35px;padding-left:10px;}
.padd015{padding:0 15px;height:33px}

/*form section end*/


/*catering title section*/
.cateringtitle{background:#fff;padding:40px 0 0 0;overflow:hidden;}
.cateringtitle .container{padding-bottom:20px;border-bottom:1px solid #ebebeb}
.cateringtitle h4{font-size:20px;line-height: 30px;margin-bottom:30px}
label.themecolor{display:block;margin-top:10px;}
.menunumbers{display:block;position:relative;color:#828282;padding-bottom:10px;margin-bottom:20px}
.menunumbers::after{content:"";background:#282b2e;width:75px;height:2px;left:0;position:absolute;bottom:0}

/*catering title section end*/


/*menu cart section start*/

.menucartsection{padding:40px 0;overflow:hidden;}
.inputbox{display:block;padding:20px 0 0 0}
.inputcheckbox label{width: 20px;height: 20px;border-radius: 4px;border: 2px solid #008200;float: left;}
.inputcheckbox label:checked{border:3px solid}
.inputcheckbox label input{position:absolute;visibility:hidden}
.inputcheckbox { position: relative;padding-left: 28px;
    margin-bottom: 12px;cursor: pointer;font-size: 18px;
    -webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;
    user-select: none;margin-right:20px;font-weight:500;}

.inputcheckbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
     background-color: #ffffff;
    border: 2px solid #008200;
}

.inputcheckbox:hover input ~ .checkmark {
  background-color: #ccc;
}

.inputcheckbox input:checked ~ .checkmark {
  /*background-color: #2196F3;*/
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.inputcheckbox input:checked ~ .checkmark:after {
  display: block;
}

  .inputcheckbox .checkmark:after {
    left: 5px;
    top: 0px;
    width: 7px;
    height: 12px;
    border: solid #008200;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.table_list{display:table;padding: 15px 15px 50px 15px;border-bottom: 1px solid #ccc;}
.table_fone{display:table-cell;vertical-align:bottom;width:60%}
.table_ftwo{display: table-cell;vertical-align: top;width: 20%;padding: 0 2.2%;text-align: center;position:relative;}
.table_ftwo::after{background: url(/assets/images/menu_spoon.png) no-repeat;position: absolute;content: "";bottom: 0;width: 30px;height: 43px;}
.table_fthree{display:table-cell;vertical-align:top;width:20%;position:relative;padding-top:15px}
.buttoncount label{margin: 0 8px 0 8px;width: 30px;text-align: center;}
.table_fthree label{display:block;color:#828282}
.morebtn{position: absolute;right: 0;bottom: 0;}
.buttoncount{margin-top:40px;}
.f20{font-size:20px !important;}
.cbg{background:#ebebeb}
.catering_right{flex:unset;width:calc(25% - 30px);margin:0 0 0 30px;float:left}
.catering_left{flex:unset;width:75%;float:left}
.catering_right h3{padding:15px;}
.catering_right p{padding:0 15px;}
.catering_right .contact{border-top:1px solid #ccc;padding:10px 15px}
.brbtm{border-bottom:1px solid #ccc;}
.catering_right .contact i{margin-right:10px;}
.catering_right .contact a{color:#333}
.galimg{width:100%;overflow:hidden;padding:15px;}
.gallery p{margin:15px 0 -5px 0	}
.galimg img{float:left;width:calc(50% - 10px;);margin:5px;}
.gallery{border-bottom:1px solid #ccc}
.socialgallery{padding:15px;}
.circle{border-radius: 50%;margin: 0.15em;font-size: 15px;}
.fa-twitter{background: #4099FF;color: #FFFFFF;width: 24px;height: 24px;text-align: center;line-height: 24px;}
.fa-facebook{background: #3B5998;color: #FFFFFF;width: 24px;height: 24px;text-align: center;line-height: 24px;}
.fa-youtube{background: #bb0000;color: #FFFFFF;width: 24px;height: 24px;text-align: center;line-height: 24px;}


/*menu cart section end*/



