.greybg{background:#f5f5f5;width:100%;overflow:hidden;padding:50px 0}
.whitebg{background:#ffffff;border-radius:10px;padding: 20px 0;box-shadow: 0 0 7px #dcd6d6;}
.whitebg input{width: 100%;margin: 0 0 20px 0;padding: 0 10px;height: 35px;border: 1px solid #ccc;}
.max800{max-width:800px;}
.ovfld {width:100%;overflow:hidden;text-align:center}
.ovfld input{display:inline;width: auto;margin-right: 10px;}
.filediv input{display:inline-block;width:60%;border:0px;}
.filediv label{width:40%}