<div class="greybg">
<div class="container max800">
	<h2 class="headerh2">Sign Up</h2>
	<form class="row whitebg"(ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

		<div class="col-md-6">
		        <label for="fname">First Name</label>
		        <input type="text" class="form-control" name="fname" [(ngModel)]="FirstName" #fname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && fname.invalid }" required />
		        <div *ngIf="f.submitted && fname.invalid" class="invalid-feedback">
		            <div *ngIf="fname.errors.required">First Name is required</div>
		            
		        </div>
		    </div>

		<div class="col-md-6">
			<label for="lname">Sur Name</label>
		        <input type="text" class="form-control" name="lname" [(ngModel)]="SurName" #lname="ngModel"[ngClass]="{ 'is-invalid': f.submitted && lname.invalid }" required />	
		          <div *ngIf="f.submitted && lname.invalid" class="invalid-feedback">
		            <div *ngIf="lname.errors.required">Sur Name is required</div>
		        </div>	       
		</div>

		<div class="col-md-6">
		        <label for="email">Email</label>
		        <input type="text" class="form-control" name="email" [(ngModel)]="EmailAddress" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
		        <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
		            <div *ngIf="email.errors.required">Email is required</div>
		            <div *ngIf="email.errors.email">Email must be a valid email address</div>
		        </div>
		    </div>


		<div class="col-md-6">
			 <label for="phone">Mobile Number</label>
		        <input type="text" class="form-control" name="phone" [(ngModel)]="MobileNo" #phone="ngModel" [ngClass]="{ 'is-invalid': f.submitted && phone.invalid }" required minlength="10"/>
		        <div *ngIf="f.submitted && phone.invalid" class="invalid-feedback">
		            <div *ngIf="phone.errors.required">Mobile Number is required</div>
		            <div *ngIf="phone.errors.minlength">Mobile Number must be a valid</div>
		        </div>			
		</div>
		<div class="col-md-6">
			 <label for="password1">Password</label>
                        <input type="password" class="form-control" name="password1" [(ngModel)]="Password" #password1="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password1.invalid }" required minlength="6" />
                        <div *ngIf="f.submitted && password1.invalid" class="invalid-feedback">
                            <div *ngIf="password1.errors.required">password1 is required</div>
                            <div *ngIf="password1.errors.minlength">password1 must be at least 6 characters</div>
                        </div>			
		</div>
		<div class="col-md-6">

			<label for="leadtime">Lead Time</label>
		        <input type="number" placeholder="(in days)"class="form-control" name="leadtime" [(ngModel)]="LeadTime" #leadtime="ngModel" [ngClass]="{ 'is-invalid': f.submitted && leadtime.invalid }" required />
		        <div *ngIf="f.submitted && leadtime.invalid" class="invalid-feedback">
		            <div *ngIf="leadtime.errors.required">Lead time is required</div>
		        </div>	
		</div>

		 <div class="col-md-12">
			<div *ngIf="!isEditItems">
			<div class="col-md-1" style="float: right;">
			<button *ngIf="fieldArray.length <= 4" class="btn btn-md btn-primary waves-light pull-right" mdbRippleRadius type="button" style="margin-left: 82%;" (click)="addItem()"> <i class="fa fa-plus"></i></button>
		</div>
	</div>
		<div class="col-md-11">
			<div *ngIf="!isEditItems">
                   <div *ngFor="let option of Address;let i=index">
                   <div class="input-group">
                     <div class="input-group-prepend"><br><br>
                       <div (click)="deleteFieldValue(i)" class="input-group-text" style="height: 34px;margin-left: -15px">
                         <i class="fa fa-close mdi-18px"></i>
                       </div><br><br>
                     </div><br><br>

                     <input  style="margin-left:4px" [(ngModel)]="option.address" name="address[]" class="form-control col-md-6" type="text"  placeholder="Address">
                      <input style="width: 30px"[(ngModel)]="option.pincode" name="pincode[]" class="form-control col-md-5" type="number"  placeholder="Pincode" style="margin-left:20px;"><br><br>
                      <br>

                   </div>
               </div>
           </div>
             </div>
		</div>
		<div class="col-md-6">

			 <label for="Dfromtime">Delivery From Time</label>
		        <input atp-time-picker type="text" class="form-control" name="Dfromtime" [(ngModel)]="DeliveryTime_from" #Dfromtime="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Dfromtime.invalid }" required  />
		        <div *ngIf="f.submitted && Dfromtime.invalid" class="invalid-feedback">
		            <div *ngIf="Dfromtime.errors.required">Delivery From Time is required</div>
		        </div>		
		</div>
		<div class="col-md-6">

			<label for="Dtotime">Delivery To Time</label>
		        <input atp-time-picker type="text" class="form-control" name="Dtotime" [(ngModel)]="DeliveryTime_to" #Dtotime="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Dtotime.invalid }" required />
		        <div *ngIf="f.submitted && Dtotime.invalid" class="invalid-feedback">
		            <div *ngIf="Dtotime.errors.required">Delivery To Time is required</div>
	        </div>		
		</div>
		<div class="col-md-6">
			<label for="minorders">Minimum Order</label>
		        <input type="text" class="form-control" name="minorders" [(ngModel)]="MinOrder" #minorders="ngModel" [ngClass]="{ 'is-invalid': f.submitted && minorders.invalid }" required />
		        <div *ngIf="f.submitted && minorders.invalid" class="invalid-feedback">
		            <div *ngIf="minorders.errors.required">Minimum Order is required</div>
		        </div>	
		</div>
		<div class="col-md-6">
			<label for="maxorder">Maximum Order</label>
		        <input type="text" class="form-control" name="maxorder" [(ngModel)]="maxOrder" #maxorder="ngModel" [ngClass]="{ 'is-invalid': f.submitted && maxorder.invalid }" required  />
		        <div *ngIf="f.submitted && maxorder.invalid" class="invalid-feedback">
		            <div *ngIf="maxorder.errors.required">Maximum is required</div>
		        </div>			
		</div>
		<div class="col-md-6">		
		<label for="score">Audit Score</label>
			<input type="number" name="score" [(ngModel)]="Scores" placeholder="Score">
		</div>	
		
		<!-- <div class="col-md-6">
		
		<label for="eventtype">Event Type Time</label>
				<select name="eventtype" class="form-control" [(ngModel)]="EventType">
			<option value=""> -- Select Event -- </option>
			<option value="{{item.evt_id}}"  *ngFor="let item of Event_list">{{item.evt_event_name}} </option>
		</select>			
	</div>  -->

		<div class="col-md-6">
		
		<label for="gstcert">Gst Certificate</label>
		<input type="file" class="form-control" (change)="getFileDetails($event)" accept=".jpg,.png,.jpeg,.PNG"  name="gstcert">
		</div>
		<div class="col-md-6">		
		<label for="foodcert">Food Certificate</label>
			<input type="file" class="form-control" (change)="getFileDetails1($event)" accept=".jpg,.png,.jpeg,.PNG"  name="foodcert">
		</div>
		<div class="col-md-6">		
		<label for="fileup">File Audit</label>
			<input type="file" class="form-control" (change)="getFileDetails2($event)" accept=".jpg,.png,.jpeg,.PNG" name="fileup">
		</div>
		
		<div >{{error}}</div>
		<!-- <div class="clearfix"></div> -->
		<div class="ovfld">
			<input type="submit" class="btn btn-success">
			<input type="reset" class="btn btn-danger">
		</div>

	</form>
	</div>
</div>