hr{margin:0}
.menubg{background:#ebebeb;padding:50px;margin-bottom:50px;}
.ffdish{width:100%;background:#ffffff;padding:10px;margin-bottom:30px;border:1px solid #ccc}
textarea{width:100%;background:#ffffff;padding:10px;border:1px solid #ccc}
.leftblkinput input {width: calc(50% - 15px);margin: 20px 15px 20px 0;background: #ffffff;border: 1px solid #ccc;padding: 0 10px;
    height: 40px;}
.leftblkinput select{width: calc(50% - 15px);margin: 20px 15px 20px 0;background: #ffffff;border: 1px solid #ccc;padding: 0 10px;
    height: 40px;}
.rightblk input {width: 100%;margin: 20px 0px 20px 0;background: #ffffff;border: 1px solid #ccc;padding: 0 10px;
    height: 40px;}
.rightblk select{width: 100%;margin: 20px 0px 20px 0;background: #ffffff;border: 1px solid #ccc;padding: 0 10px;
    height: 40px;}
.fileimg input{position:absolute;visibility:hidden;}
.fileimg{    background: #b98d36;width: 60px;height: 60px;margin: 0;float: left;display: inline-block;vertical-align: middle;
    line-height: 5;text-align: center;color: #ffffff;position:relative}
.fileimg::after{content: "+";color: #ffffff;position: absolute;top: 10px;font-size: 23px;width: 100%;left: 0;line-height: 14px;}
.imgupload img{width:60px;height:60px;float:left;margin-right:12px;}
.margin_top_30{margin-top:30px !important}
.resetbtn{background: transparent;color: #b98d36;border: 0;ourline: none;padding: 8px 15px 8px 15px;cursor: pointer;border:1px solid #b98d36;margin-right:15px;}
.row.margin_top_30 p{margin-top:11px}
.bulk{padding: 0 60px 100px 0px;}
.bulkupload{    background: #b98d36;width: 60px;height: 60px;margin: 0;float: left;display: inline-block;vertical-align: middle;
    line-height: 4;text-align: center;color: #ffffff;position:relative}
.bulkupload input{position:absolute;visibility:hidden;}

.bulkspan{ padding: 67px 1px 0px 0px;margin-left: -127px;}