<hr>
<div class="container paddt30">
	<h2 class="headerh2" style="position: absolute;">Add New Menu</h2>
	<form class="bulk">
		<div class="form-group" style="float: right;">
			<label class="bulkupload" style="width:130px;"><input type="file"  class="form-control col-md-4 " align="right" (change)="bulk($event)"name="Bulk">Bulk Upload	</label>
		<!-- <input type="file"  class="form-control col-md-4 " align="right" (change)="bulk($event)"name="Bulk"> -->
		<span class="pull-right bulkspan"><a href="{{Image_Base}}sample_menu.xlsx" download="">* Sample Excel</a></span>
	</div>
	 
	</form>

	<div class="menubg">
	<form  (ngSubmit)="f.form.valid && addMenu()" #f="ngForm" method="post">
		<div class="row">
		<div class="col-md-12">
			<!-- {{dish_description1}} -->
		<!-- <label for="firstname">Title</label> -->
		<input type="text" #firstname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstname.invalid }" required  placeholder="Dish Name" class="form-control" [(ngModel)]="price_person1" name="firstname">	

		<div *ngIf="f.submitted && firstname.invalid" class="invalid-feedback">
		            <div *ngIf="firstname.errors.required">Dish Name is required</div>
		            
		        </div>

		</div>
		<div class="clearfix"></div>
</div>
<br>
<div class="row">
		<div class="col-md-8">
			<!-- <textarea placeholder="Dish Description" ([ngModel])="dish_description1"name="dish_description1"></textarea> -->

			<textarea type="text" #dish_description="ngModel"placeholder="Dish Description" class="form-control" [ngClass]="{ 'is-invalid': f.submitted && dish_description.invalid }" required [(ngModel)]="dish_description1" name="dish_description">	</textarea>
			<div *ngIf="f.submitted && dish_description.invalid" class="invalid-feedback">
		            <div *ngIf="dish_description.errors.required">Dish Description is required</div>
		            
		        </div>

			<!-- <input type="number" [(ngModel)]="minorder1"placeholder="Minimum Order" name="minorder">		
			<input type="number" [(ngModel)]="maxorder1"placeholder="Maximum Order" name="maxorder"> -->		
			<br>
			<div class="col-md-12">
			<div class="col-md-6" style="float: left;">
			<select #Mealtype="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Mealtype.invalid }" required class="form-control"[(ngModel)]="Mealtype_id" name="Mealtype">
			<option value=""selected="">--Meal Type--</option>
			<option value="{{item.mealtype_id}}"  *ngFor="let item of mealtype_list">{{item.mealtype_name}} </option>
		</select>
		<div *ngIf="f.submitted && Mealtype.invalid" class="invalid-feedback">
		            <div *ngIf="Mealtype.errors.required">Meal Type is required</div>
		            
		        </div>
	</div>
		<div class="col-md-6" style="float: left;">
			<select #cuisine="ngModel" [ngClass]="{ 'is-invalid': f.submitted && cuisine.invalid }" required  class="form-control" [(ngModel)]="Cuisine_id" name="cuisine">
			<option value=""selected="">--Cuisine Type--</option>
			<option value="{{item.cuis_id}}"  *ngFor="let item of cusinis_list">{{item.cuis_name}} </option>
		</select>

		<div *ngIf="f.submitted && cuisine.invalid" class="invalid-feedback">
		            <div *ngIf="cuisine.errors.required">Cuisine Type is required</div>
		            
		        </div>
			</div>
		</div>
		<br>
		<br>
		<div class="col-md-12">
			<!-- <div class="col-md-6" style="float: left;">
			<select #group="ngModel" [ngClass]="{ 'is-invalid': f.submitted && group.invalid }" required class="form-control"[(ngModel)]="group_id" name="group">
			<option value=""selected="">Group Type</option>
			<option value="{{item.menugroup_id}}"  *ngFor="let item of group_list">{{item.menugroup_name}} </option>
		</select>

		<div *ngIf="f.submitted && group.invalid" class="invalid-feedback">
		            <div *ngIf="group.errors.required">Group is required</div>
		            
		        </div>
		</div> -->
			<div class="col-md-6" style="float: left;">
			<input type="text" class="form-control" placeholder="Discount (in percent)"   [(ngModel)]="discount" name="discount">				
		        </div>

		        <div class="col-md-6" style="float: left;">
			<input type="text" class="form-control" placeholder="Discount Duration(In Days)"  [(ngModel)]="discount_duration" name="disduration">
			
		        </div>
		        <br>
		        <br>

		        <div class="col-md-6" style="float: left;">
		        <ng-multiselect-dropdown class="form-control"
					                      [placeholder]="'Item Group'"
					                      [data]="dropdownList"
					                      [(ngModel)]="selectedItems1"
					                      [settings]="dropdownSettings1"
					                      name="selectedItems1"
					                     style="display: contents;"
					                        >
		         </ng-multiselect-dropdown>
		     </div>
			<div class="col-md-6" style="float: left;">
			<input type="number" #perpreson="ngModel" [ngClass]="{ 'is-invalid': f.submitted && perpreson.invalid }"  class="form-control" placeholder="Price Per Person" required  [(ngModel)]="price_person" name="perpreson">	
			<div *ngIf="f.submitted && perpreson.invalid" class="invalid-feedback">
		            <div *ngIf="perpreson.errors.required">Per Person Price is required</div>
		            
		        </div>
		        </div>
		        <div class="col-md-6" style="float: left;    margin-top: 11px;">
			<input type="checkbox" ([ngModel])="is_special" [checked]="is_special" class="specialcheckbox"> Recommended or Special
		</div>
		
		    
			
		</div>
	</div>
	<br>
	<br>
		<div class="col-md-4 rightblk">
			<div class="imgupload">
					
				<img  *ngFor='let url of urls' [src]="url" alt="Add menu">
				<div *ngFor='let id of ids'>
				<img   src="assets/images/close.png" style="    height: 18px; width: 18px;
     margin-top: -9px;" (click)="delete_img(id)">
    			</div>
				
				<label for="fileimg" class="fileimg"><input type="file" (change)="onSelectFile($event)" multiple accept=".jpg,.png,.jpeg,.PNG"id="fileimg">Add</label>
			</div>
			<br>
			<br>
			<br>
			<div class="col-md-12">
			<select class="form-control"name="is_veg" [(ngModel)]="is_veg">
				<option value="1" selected="">Vegetarian</option>
				<option value="0" selected="">Non Vegetarian</option>				
			</select>	
		</div>


			<div class="col-md-12">
			<select #package="ngModel" [ngClass]="{ 'is-invalid': f.submitted && package.invalid }" required  class="form-control" [(ngModel)]="package_id" name="package">
			<option value=""selected="">--Package Type--</option>
			<option value="{{item.pack_id}}"  *ngFor="let item of package_list">{{item.pack_name}} </option>
		</select>

		<div *ngIf="f.submitted && package.invalid" class="invalid-feedback">
		            <div *ngIf="package.errors.required">Package Type is required</div>
		            
		        </div>
			</div>
<!-- 

			<select class="form-control"[(ngModel)]="" name="package">
			<option value=""selected="">Package Type</option>
			<option value="{{item.pack_id}}"  *ngFor="let item of package_list">{{item.}} </option>
		</select> -->
		<div *ngIf="f.submitted && perpreson.invalid" class="invalid-feedback">
		            <div *ngIf="perpreson.errors.required">Per Person Price is required</div>
		            
		        </div>

		</div>
	</div>
		<div class="row" style="float: right;">
		
		<div class="col-md-12">
			<button type="button" (click)="cancel()" class="resetbtn">CANCEL</button>
			<button type="submit" class="theme_btn">{{edit?'UPDATE' : 'ADD'}} MENU</button>
		</div>
	</div>

	<div *ngIf="catt_id">
			<input type="hidden" placeholder="Price Per Person" [(ngModel)]="catt_id" name="catt_id">	
			<input type="hidden" placeholder="Price Per Person" [(ngModel)]="menu_id" name="menu_id">		
			</div>
			

	</form>
	</div>
</div>