<hr>
<div class="container paddt30">
	<div class="row">
		<div class="col-md-6">
			<h2 class="headerh2">Payment</h2>
		</div>
		<div class="col-md-6 searchform">
			 <form (keydown)="keyDownFunction($event)">
			<input type="text" name="search" [(ngModel)]="Search_items" class="search" placeholder="Search here"><i (click)="updateFilter($event);"class="fa fa-search"></i>
		</form>
		</div>
 
	</div>
	<div class="row">
		<div class="col-md-11" style="padding-bottom: 20px">
			<!-- <table class="table">
				<thead>
					<tr>
					<th>Order Number</th>
					<th>Payment Status</th>
					<th>Payment Date</th>
					<th>Transaction Detail</th>
					<th>Cheque Image</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>698754231</td>
						<td><span class="greencolor">50% Paid</span></td>
						<td>2/1/2019</td>
						<td>Lorem Ipsum is simply dummy the printing and industry. </td>
						<td><img src="assets/images/payment.png" alt="Payment"></td>
					</tr>
					<tr>
						<td>698754231</td>
						<td><span class="greencolor">50% Paid</span></td>
						<td>2/1/2019</td>
						<td>Lorem Ipsum is simply dummy the printing and industry. </td>
						<td><img src="assets/images/payment.png" alt="Payment"></td>
					</tr>
					<tr>
						<td>698754231</td>
						<td><span class="greencolor">50% Paid</span></td>
						<td>2/1/2019</td>
						<td>Lorem Ipsum is simply dummy the printing and industry. </td>
						<td><img src="assets/images/payment.png" alt="Payment"></td>
					</tr>
					<tr>
						<td>698754231</td>
						<td><span class="greencolor">50% Paid</span></td>
						<td>2/1/2019</td>
						<td>Lorem Ipsum is simply dummy the printing and industry. </td>
						<td><img src="assets/images/payment.png" alt="Payment"></td>
					</tr>
					<tr>
						<td>698754231</td>
						<td><span class="greencolor">50% Paid</span></td>
						<td>2/1/2019</td>
						<td>Lorem Ipsum is simply dummy the printing and industry. </td>
						<td><img src="assets/images/payment.png" alt="Payment"></td>
					</tr>
					<tr>
						<td>698754231</td>
						<td><span class="greencolor">50% Paid</span></td>
						<td>2/1/2019</td>
						<td>Lorem Ipsum is simply dummy the printing and industry. </td>
						<td><img src="assets/images/payment.png" alt="Payment"></td>
					</tr>
					<tr>
						<td>698754231</td>
						<td><span class="greencolor">50% Paid</span></td>
						<td>2/1/2019</td>
						<td>Lorem Ipsum is simply dummy the printing and industry. </td>
						<td><img src="assets/images/payment.png" alt="Payment"></td>
					</tr>
					<tr>
						<td>698754231</td>
						<td><span class="greencolor">50% Paid</span></td>
						<td>2/1/2019</td>
						<td>Lorem Ipsum is simply dummy the printing and industry. </td>
						<td><img src="assets/images/payment.png" alt="Payment"></td>
					</tr>
					<tr>
						<td>698754231</td>
						<td><span class="greencolor">50% Paid</span></td>
						<td>2/1/2019</td>
						<td>Lorem Ipsum is simply dummy the printing and industry. </td>
						<td><img src="assets/images/payment.png" alt="Payment"></td>
					</tr>
				</tbody>
			</table -->



<ag-grid-angular 
    #agGrid
    style="height: 200px;" 
    class="ag-theme-balham"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    rowSelection="multiple"
    >
</ag-grid-angular>


		</div>
	</div>
</div>

