<hr>
<div class="container paddt30">
	<h2 class="headerh2">Profile</h2>
	<button [routerLink]="['/changepassword']" align="right" class="theme_btn">Change Password</button
				>
	<div class="row vendorborder">
		<div class="col-md-12">
			<table class="table" *ngFor="let list of profilelist; index as i">
				<tr><td>Name</td><td>:</td><td>{{list.name}}</td></tr>

				<tr><td>Address</td><td>:</td><td><div *ngFor="let option of address;let i=index" style="float: left; ">
							{{ option.catt_city}} -  {{ option.catt_pincode}},
					</div></td></tr>
				<tr><td>Phone</td><td>:</td><td>{{list.phone}}</td></tr>
				<tr><td>Email</td><td>:</td><td>{{list.email}}</td></tr>
				<tr><td>Role</td><td>:</td><td>{{list.role}}</td></tr>
			</table>

		</div>

	</div>
	</div>