.panels{width: calc(16% - 13px);
    min-height: 162px;
    padding: 18px 3px;
    display: inline-block;
    margin: 0px 23px 0 0;
    border-radius: 10px;}

.panels:last-child{margin-right:0px;}
.panels h3{color:#fff;font-size:21px;text-align:center}
.panels h3 span{display:block;text-align:center;margin-top: 42px;}
.panels.green{background:#17a086}
.panels.yellow{background:#c2c20f}
.panels.gray{background:#a7a7a7} 
.panels.red{background:#e05d6f}
.panels.blue{background:#418bcc}
.panels.violet{background:#3f4e61}
.panelsblk{display:block;width:100%;overflow:hidden;text-align:justify}
.greydashboard{background:#f6f6f6;padding: 30px 0;border-top: 1px solid #ccc;}
.greencolor{color:green}
.whitebg{background: #ffffff;margin: 50px 0;max-width: calc(100% - 30px);}
.table th{border-top:0px !important}

