<div class="greydashboard">
	<div class="container">
		<div class="row panelsblk">

				<div class="panels green"><a [routerLink]="['/orders']" style="text-decoration: none !important;">
					<h3>Total<br>Orders <span>{{total_order}}</span> </h3>
					</a>
				</div>

				<div class="panels yellow">
					<a [routerLink]="['/confirmation']" style="text-decoration: none !important;">
					<h3>Confirmation <br>Pending Orders <span>{{confirmation_pending_count}}</span> </h3></a>
				</div>

				<div class="panels gray">
					<a [routerLink]="['/orders']" style="text-decoration: none !important;">
					<h3>Confirmed<br>Orders <span>{{confirmed_count}}</span> </h3></a>
				</div><div class="panels red">
					<a [routerLink]="['/orders']" style="text-decoration: none !important;">
					<h3>Cancelled<br>Orders <span>{{Cancelled_count}}</span> </h3></a>
				</div>
				<div class="panels blue">
					<a [routerLink]="['/orders']" style="text-decoration: none !important;">
					<h3>Order to<br>Deliver <span>{{Out_to_delivery_count}}</span> </h3></a>
				</div>
				<div class="panels violet">
					<a [routerLink]="['/orders']" style="text-decoration: none !important;">
					<h3>Delivered<br>Orders <span>{{Delivered_count}}</span> </h3></a>
				</div>
		</div>

		<div class="row">
			<div class="col-md-12 whitebg">
			<table class="table">
				<thead>
					<tr>
					<th>Customer</th>
					<th>Pincode</th>
					<th>Date & Time</th>
					<th>Order Status</th>
				</tr>
				</thead>
				<tbody>
					<tr *ngFor="let order of order_list">
						<td>{{order.userslist.usr_first_name}}</td>
						<td>600007</td>
						<td>{{order.created_at |date :"dd/mm/yyyy"}}</td>
						<td><span class="greencolor">{{order.ord_status}}</span></td>
					</tr>
					<!-- <tr>
						<td> Yuvaneshwaran</td>
						<td>600007</td>
						<td>3/1/2019, 9 AM</td>
						<td><span class="greencolor">Confirmed</span></td>
					</tr> -->
					
				</tbody>
			</table>
			</div>
		</div>
	</div>
</div>