@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900');

/* You can add global styles to this file, and also import other style files */

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

@import '~ngx-toastr/toastr.css';

html, body{font-family: 'Work Sans', sans-serif;}
.headerh2{
    display: block;
    text-align: left;
    position: relative;
    padding-bottom: 15px;
    font-family: 'Work Sans';
    margin-bottom: 30px;
    font-weight: 600;
}
.headerh2::after {
    position: absolute;
    bottom: 0;
    width: 120px;
    height: 3px;
    background: #b98d36;
    left: 0;
    content: "";
}
.theme_btn {
    background: #b98d36;
    color: #ffffff;
    border: 0;
    ourline: none;
    padding: 8px 15px 8px 15px;
    cursor: pointer;
}
.themetr_btn{background: transparent;color: #b98d36;border: 0;ourline: none;padding: 8px 15px 8px 15px;cursor: pointer;border:1px solid #b98d36;margin-right:15px;}
 .paddt30{padding-top:30px;}
 .margin_b_50{margin-bottom:50px !important}
 .fleft{float:left}
 .flright{float:right}
 .whitecolor{color:#ffffff}
.ngxcarouselPointDefault{visibility:hidden;position:absolute;}
.margint10{margin-top:10px;}
.col-md-12.error
{
    text-align: center;
    color: red;
}
#toast-container > div {
    opacity:1;
}
.whitebg[_ngcontent-c4] input[_ngcontent-c4]
{
    border-radius: 7px;
}