/*common styles*/
.headinghome{display: block;text-align: center;position: relative;padding-bottom: 15px;font-family: 'Work Sans';margin-bottom: 30px;font-weight:600;}
.headinghome::after{position: absolute;bottom: 0;width:120px;height:3px;background:#b98d36;left:50%;margin-left:-60px;content:"";}
.h2, h2 {font-size: 44px;}
.readmore{background: #b98d36;color: #ffffff;border: 0;ourline: none;padding: 8px 15px 8px 15px;cursor: pointer;}
.marginb30{margin-bottom: 30px !important}
.marginb60{margin-bottom: 60px !important}



/*banner section*/

.bannersection{background: url(/assets/images/caterar_banner.jpg) no-repeat;padding: 100px 0;width: calc(100% + 30px);background-size: 100% auto;margin-left: -15px;margin-right: -15px;display: table;min-height:80vh}
.bannersection .bglist{display: table-cell;vertical-align: middle;}
.bannersection .bglist .bgwhite{padding:40px;max-width:900px;margin:0px auto;}
.bannersection .bglist .bgwhite h2{font-family: 'Work Sans';font-size:35px;text-align: center;font-weight:600;color:#ffffff;margin-top:0;margin-bottom: 30px;}
.bgwhite .tableblk{display: table;width:100%;overflow:hidden;margin-top: 24px;}
.bgwhite .tableblk .tablecell{display: table-cell;vertical-align: top;position: relative;width: 33%;text-align: center;padding: 0 30px;;}
.bgwhite .tableblk .tablecell::after{content:"";position: absolute;width:1px;height:100%;right:0;top:0;background:#ccc;}
.bgwhite .tableblk .tablecell:last-child::after{display: none !important;content:"";visibility: hidden}
.tablecell button{background:#b98d36;color:#ffffff;border:0;ourline:none;padding: 8px 15px 8px 15px;cursor: pointer;}
.tablecell img{margin: 24px auto;display: block;max-height: 50px;}
.tablecell h4{font-size:20px;}

/*learnmore section*/
.learnmoresection{background:#ffffff;padding:120px 0 80px 0;}
.videotag{width: 100%;overflow: hidden;position: relative;z-index: 1;}
.videotag img{max-width:100%}
.videotitle{background: #282b2e;padding: 30px 27px;margin: -145px 0 0 0;}
.videotitle h2{color:#b98d36}
.videotitle p{color:#ccc}
.greybg{background: #ebebeb;border-radius: 10px;padding: 38px 38px 38px 65px;margin: -46px 0 0 -66px;position: relative;z-index: 0;}
.greybg input{width: 100%;margin: 0 0 20px 0;padding: 0 10px;height: 35px;border: 1px solid #ccc;}
.ovfld {width:100%;overflow:hidden;text-align:center}
.ovfld input{display:inline;width: auto;margin-right: 10px;}

/*learnmore end*/



/*featuresection*/

.featuresection{background: url(/assets/images/caterar_feature.jpg) no-repeat;padding: 50px 0;width: 100%;background-size: 100% auto;}
.featuresection .manageblk{background:#282b2e;padding:15px;width:100%;overflow:hidden;margin-bottom:15px;}
.featuresection .manageblk img{float: left;padding-left: 2px;margin-right: 13px;margin-top: 12px;width: 60px;}
.featuresection .manageblk .rightblk{float: left;border-left: 1px solid #ccc;padding-left: 16px;margin-left: 14px;
    width: calc(100% - 130px);}
.featuresection .manageblk .rightblk h3{color:#fff}
.featuresection .manageblk .rightblk p{color:#fff}


/*feature section end*/


/*Caterar section*/

.caterarsection{width:100%;overflow:hidden;position:relative;padding:50px 0;background:#282b2e;}


/*how it works section*/
.works{padding:50px 0;}



/*testimonial section */

.testimon{position: relative;padding: 48px 30px 20px 30px;margin-bottom: 30px;color: #ffffff;text-align: center;}
    .testimonpro img{border-radius:50%;max-width:60px;float:left;}
    .testimonpro h5{font-size: 28px;text-align: center;color: #b98d35;}
    .testimonpro span{display: block;text-align: center;margin-bottom: 15px;position:relative;}
    .testimonpro span::after{content: "";background: url(/assets/images/cateror_quotes.png) no-repeat;
    background-position: center;width: 34px;height: 26px;background-size: 100% 26px;position: absolute;
    left: 50%;margin-left: -17px;top: 40px;}


	.testifl{max-width:768px;color:#ffffff;float: left;padding: 0 15px;box-sizing:border-box;}
    .relclass{position:relative;}
	.flowfloverview{width: 768px;overflow: hidden;position: relative;padding: 0 0px;margin: 0 auto;color:#ffffff }
	.prev{position: absolute;margin-top: 51px;width: 60px;cursor: pointer;}
	.next{position: absolute;margin: 50px 0 0 0;cursor: pointer;right: 0px;top: 10px;}
	.flowfl{transition: all 0.3s linear;-webkit-transition:all 0.3s linear;}

/*testimonial slider end*/


/*Logo section*/


.slidersection{background:#ebebeb;width:100%;padding:50px 0 0 0}
.ngxcarouselPointDefault{visibility:hidden;position:absolute;}


/*customer section

.customersection{background:#ebebeb;padding:50px 0;}
.customersection h2{position: relative}
.customersection h2::after{content: "";background:#b98d36;position: absolute;bottom: 0;height: 2px;width:100px;margin-left:-50px;left:50%;}
.arrayimg{margin-right: 15px;}
*?

/*grid section*/


.gridsection{background:#282b2e;padding:50px 0;}
.gridsection img{float:left;max-width: 75px;}
.gridsection h3{float: left;color: #ffffff;font-size: 32px;margin: 10px 0 0 10px;display: inline-block;width: calc(100% - 84px);line-height: 26px;font-family: 'Work Sans', sans-serif;}
.gridsection h3 span{font-size:16px;font-weight: 600}



/*blog section*/

.blogsection{padding:50px 0;}
.blogsection img{max-width:100%;}
.blogsection p{font-weight:600;color:#333333;font-size:18px;}
.blogsection  span{display: block;color:#595959;margin:18px 0;}



/*about section*/

.aboutsection{background:url(/assets/images/about.jpg) no-repeat;padding: 50px 0;width: 100%;background-size: 100% auto;}
.aboutsection p{color:#ffffff;text-align: justify;font-size: 18px;font-weight:normal;}
.aboutsection h2{color: #ffffff}


/*caterar section*/

.caterarsection{padding:50px 0;width: 100%;overflow: hidden;}
.caterarsection ul{list-style-image: url(/assets/images/tick.png);text-align: left}
.caterarsection ul li{font-size: 19px;font-family: 'Work Sans';margin-bottom: 14px;}


