<!--banner section -->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="bannersection">
				<div class="bglist">
					<div class="bgwhite">
						<div class="container text-center">
						<h2>Lorem Ipsum is simply dummy text of printing and typesetting industry</h2>
						<button class="theme_btn">Join Us</button>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- banner section end -->

<!-- learn more section start -->
<section class="learnmoresection">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="videotag">
				<img src="assets/images/video_popup_home.png" alt="Video">
				<div class="videotitle">
					<h2>Videos Tell Stories</h2>
					<p>Take a look behind the scenes of our Berlin caterer Bleibtreu Catering and find out what business catering is all about.</p>
				</div>
				</div>
			</div>
			<div class="col-md-6">
				<form class="row greybg">
					<h2>Learn More Now</h2>
					<p>Register now and we will send you information material.</p>
					<div class="col-md-12">
						<input type="text" name="fname" placeholder="Name">
					</div>
					<div class="col-md-12">
						<input type="text" name="business" placeholder="Business Name">
					</div>
					<div class="col-md-12">
						<input type="email" name="email" placeholder="Email Address">
					</div>
					<div class="col-md-12">
						<input type="text" name="phone" placeholder="Mobile Number">
					</div>
					<div class="col-md-12">
						<input type="password" name="pwd" placeholder="Password">
					</div>
					<div class="col-md-12">
						<p>By entering your data, you confirm that you agree with the storage and
processing of your personal data by LEMONCAT as described in the terms
and conditions and the privacy policy.</p>
					</div>
					<div class="col-md-12">
						<input type="submit" class="theme_btn" value="Request Information">
					</div>
				</form>
			</div>

		</div>
	</div>
</section>

<!-- learn more section end -->

<!-- feature section start -->
<h2 class="headinghome">Benefits</h2>
<section class="featuresection">
	<div class="container">
		<div class="row flex-row-reverse">
			<div class="col-md-6">
				<div class="manageblk">
					<img src="assets/images/in-1.png">
					<div class="rightblk">
						<h3>Manage inventory online</h3>
						<p>Store all your food and products online in one place.</p>
					</div>
				</div>
				<div class="manageblk">
					<img src="assets/images/in-2.png">
					<div class="rightblk">
						<h3>Manage your orders</h3>
						<p>Create beautiful orders in seconds.</p>
					</div>
				</div>
				<div class="manageblk">
					<img src="assets/images/in-3.png">
					<div class="rightblk">
						<h3>Manage your customers</h3>
						<p>Maintain your customer address book.</p>
					</div>
				</div>
				<div class="manageblk">
					<img src="assets/images/in-4.png">
					<div class="rightblk">
						<h3>Evaluation and statistics</h3>
						<p>Analyze your business figures.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Feature section end -->

<!-- caterar section start -->

<section class="caterarsection">
	<div class="container">
		<h2 class="headinghome whitecolor">Caterars Says</h2>
		<div class="row">
			<div class="col-md-12">
				<div class="prev" (click)="prevtti()"><img src="assets/images/prev.png"></div>
				<div class="flowfloverview">
 			<div class="flowfl" [ngStyle]="styletest">
			<div class="testifl" *ngFor="let item of testimonial; index as i; let cc = count">
				<div class="testimonpro">
						<h5>
							{{item.title}} 
						</h5>
						<span>
						{{item.mail}}
						</span>
				</div>
				<div class="testimon">
				{{item.para}}		
				</div>
			</div>
			</div>
				</div>
				<div class="next" (click)="nextti()"><img src="assets/images/next.png"></div>
			</div>
		</div>
		</div>
</section>

<!-- caterrar section end -->


<!-- Logo slider section -->

<section class="slidersection">
	<div class="container">
		<ngx-carousel
        [inputs]="carouselOne"
        (carouselLoad)="myfunc($event)">
          <ngx-item NgxCarouselItem>
           <img src="assets/images/caterar_logo/1.png">
          </ngx-item>
          <ngx-item NgxCarouselItem>
            <img src="assets/images/caterar_logo/2.png">
          </ngx-item>
          <ngx-item NgxCarouselItem>
            <img src="assets/images/caterar_logo/3.png">
          </ngx-item>
          <ngx-item NgxCarouselItem>
            <img src="assets/images/caterar_logo/4.png">
          </ngx-item>
          <ngx-item NgxCarouselItem>
            <img src="assets/images/caterar_logo/5.png">
          </ngx-item>
          <button NgxCarouselPrev class='leftRs' style="visibility: hidden;">&lt;</button>
          <button NgxCarouselNext class='rightRs' style="visibility: hidden;">&gt;</button>
    </ngx-carousel>
	</div>
</section>

<!-- logo slider section end -->


<!-- blog section -->
<section class="blogsection">
	<div class="container text-center">
		<h2 class="headinghome">Blogs</h2>
		<div class="row marginb30">
			<div class="col-md-4 text-center">
				<img src="assets/images/blog1.png" alt="Blog">
				<span>5 Dec 2018</span>
				<p>Lorem Ipsum is simply dummy text of the printing</p>
			</div>
			<div class="col-md-4 text-center">
				<img src="assets/images/blog2.png" alt="Blog">
				<span>5 Dec 2018</span>
				<p>Lorem Ipsum is simply dummy text of the printing</p>
			</div>
			<div class="col-md-4 text-center">
				<img src="assets/images/blog3.png" alt="Blog">
				<span>5 Dec 2018</span>
				<p>Lorem Ipsum is simply dummy text of the printing</p>
			</div>
		</div>
		<button class="readmore">Read More</button>
	</div>
</section>
<!-- blog section end -->

<!-- about us section start -->
<section class="aboutsection">
	<div class="container text-center">
		<h2 class="headinghome">About Us</h2>
		<div class="row marginb60">
			<div class="col-md-6">
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem psum has been the industry's standard dummy textever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a ype specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum is simply dummy text of the printing  and typesetting industry.
				</p>
			</div>
			<div class="col-md-6">
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem psum has been the industry's standard dummy textever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a ype specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum is simply dummy text of the printing  and typesetting industry.
				</p>
			</div>
		</div>
		<button class="readmore">Read More</button>
	</div>
</section>

