/*common styles*/
.headinghome{display: block;text-align: center;position: relative;padding-bottom: 15px;font-family: 'Work Sans';margin-bottom: 30px;font-weight:600;}
.headinghome::after{position: absolute;bottom: 0;width:120px;height:3px;background:#b98d36;left:50%;margin-left:-60px;content:"";}
.h2, h2 {font-size: 44px;}
.readmore{background: #b98d36;color: #ffffff;border: 0;ourline: none;padding: 8px 15px 8px 15px;cursor: pointer;}
.marginb30{margin-bottom: 30px !important}
.marginb60{margin-bottom: 60px !important}



/*banner section*/

.banner{background: url(/assets/images/banner.jpg) no-repeat;padding: 100px 0;width: calc(100% + 30px);background-size: 100% auto;
    margin-left: -15px;margin-right: -15px;display: table;}
.banner .bglist{display: table-cell;vertical-align: middle;}
.banner .bglist .bgwhite{background:#ffffff;padding:40px;max-width:900px;margin:0px auto;}
.banner .bglist .bgwhite h2{font-family: 'Work Sans';font-size:35px;text-align: center;font-weight:600;color:#282b2e;margin-top:0;}
.bgwhite .tableblk{display: table;width:100%;overflow:hidden;margin-top: 24px;}
.bgwhite .tableblk .tablecell{display: table-cell;vertical-align: top;position: relative;width: 33%;text-align: center;padding: 0 30px;;}
.bgwhite .tableblk .tablecell::after{content:"";position: absolute;width:1px;height:100%;right:0;top:0;background:#ccc;}
.bgwhite .tableblk .tablecell:last-child::after{display: none !important;content:"";visibility: hidden}
.tablecell button{background:#b98d36;color:#ffffff;border:0;ourline:none;padding: 8px 15px 8px 15px;cursor: pointer;}
.tablecell img{margin: 24px auto;display: block;max-height: 50px;}
.tablecell h4{font-size:20px;}

/*Book section*/
.booksection{background:#ebebeb;padding:50px 0;}
.form_gr{display: inline-block;position: relative;margin-right: 15px;}
.form_gr input{position: relative;padding-left:30px;height:44px;}
.form_gr i{position: absolute;left: 12px;top: 15px;opacity: 0.5;}
.booksubmit{background:#b98d36;color:#ffffff;border:0;ourline:none;padding: 8px 15px 8px 15px;cursor: pointer;}



/*how it works section*/
.works{padding:50px 0;}



/*testimonial section */

.testimonial_section{padding:50px 0;position: relative;}
.testimon{background: #ebebeb;position: relative;padding: 20px 30px;margin-bottom: 30px;}
.testimon::after{    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #ebebeb;
    content: "";
    left: 60px;
    position: absolute;
    bottom: -20px;
    z-index: 0;
    }
    .testimonpro img{border-radius:50%;max-width:60px;float:left;}
    .testimonpro h5{float: left;margin: 10px 0 0 11px;font-size: 16px;}
    .testimonpro h5 span{display: block;color:#7e9096;}

	.testifl{max-width:500px;    float: left;padding: 0 15px;box-sizing: content-box;}
    .relclass{position:relative;}
	.flowfloverview{width: 1060px;overflow: hidden;position: relative;padding: 0 0px;margin: 0 auto;}
	.prev{position: absolute;margin-top: 51px;width: 60px;cursor: pointer;}
	.next{position: absolute;margin: 50px 0 0 0;cursor: pointer;right: 0px;top: 90px;}
	.flowfl{transition: all 0.3s linear;-webkit-transition:all 0.3s linear;}







/*customer section*/

.customersection{background:#ebebeb;padding:50px 0;}
.customersection h2{position: relative}
.customersection h2::after{content: "";background:#b98d36;position: absolute;bottom: 0;height: 2px;width:100px;margin-left:-50px;left:50%;}
.arrayimg{margin-right: 15px;}


/*grid section*/


.gridsection{background:#282b2e;padding:50px 0;}
.gridsection img{float:left;max-width: 75px;}
.gridsection h3{float: left;color: #ffffff;font-size: 32px;margin: 10px 0 0 10px;display: inline-block;width: calc(100% - 84px);line-height: 26px;font-family: 'Work Sans', sans-serif;}
.gridsection h3 span{font-size:16px;font-weight: 600}



/*blog section*/

.blogsection{padding:50px 0;}
.blogsection img{max-width:100%;}
.blogsection p{font-weight:600;color:#333333;font-size:18px;}
.blogsection  span{display: block;color:#595959;margin:18px 0;}



/*about section*/

.aboutsection{background:url(/assets/images/about.jpg) no-repeat;padding: 50px 0;width: 100%;background-size: 100% auto;}
.aboutsection p{color:#ffffff;text-align: justify;font-size: 18px;font-weight:normal;}
.aboutsection h2{color: #ffffff}


/*caterar section*/

.caterarsection{padding:50px 0;width: 100%;overflow: hidden;}
.caterarsection ul{list-style-image: url(/assets/images/tick.png);text-align: left}
.caterarsection ul li{font-size: 19px;font-family: 'Work Sans';margin-bottom: 14px;}


