<!-- banner section -->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="banner">
				<div class="bglist">
					<div class="bgwhite">
						<h2>ARE YOU LOOKING FOR CATERING?</h2>
						<div class="tableblk">
							<div class="tablecell">
								<h4>ORDER ONLINE</h4>
								<img src="assets/images/cart.png" alt="Add to cart">
								<p>Easily book yummy catering for your event online.</p>
								<button>ORDER NOW</button>
							</div>
							<div class="tablecell">
								<h4>EVENT CATERING</h4>
								<img src="assets/images/calendar.png" alt="Calendar">
								<p>Easily book yummy catering for your event online.</p>
								<button>ORDER NOW</button>
							</div>
							<div class="tablecell">
								<h4>CONTRACT CATERING</h4>
								<img src="assets/images/price.png" alt="Add to cart">
								<p>Easily book yummy catering for your event online.</p>
								<button>ORDER NOW</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- banner section end -->

<!-- book section -->
<section class="booksection">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-sm-4">
				<h2>Book Your Caterers</h2>
			</div>
			<div class="col-sm-8">
		<form>
        <div class="form_gr">
   		<input type="text" class="form-control" placeholder="Place" id="name" required><i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>
        <div class="form_gr"> 
        <input type="text" #dp="bsDatepicker" bsDatepicker [(bsValue)]="myDateValue"><i class="fa fa-calendar"></i>
 		</div>
      <button type="submit" class="booksubmit">Submit</button>
 
    </form>	
			</div>
		</div>
	</div>
</section>
<!-- book section end -->

<!-- How it works section -->

<section class="works">
	
</section>

<!-- how it works end -->


<!-- our customer section start -->

<section class="customersection">
	<div class="container align-middle">
		<h2 class="headinghome">Our Customers</h2>
		<div class="row justify-content-between">
			<div class="arrayimg " *ngFor="let user of array1">
			<img src="{{user}}"> 
			</div>
		</div>
	</div>
</section>

<!-- customer section end -->


<!-- Testimonial section start -->

<section class="testimonial_section">
	<div class="container relclass">
		<h2 class="headinghome">Testimonials</h2>
		<div class="prev" (click)="prevtti()"><img src="assets/images/prev.png"></div>
		<div class="flowfloverview">
 			<div class="flowfl" [ngStyle]="styletest">
			<div class="col-md-6 testifl" *ngFor="let item of testiarray; index as i; let cc = count">
				
				<div class="testimon">
				{{item.testi_description}}		
				</div>
				<div class="testimonpro">
					<img src="http://13.234.1.45/images/testimonial/{{item.testi_image}}" alt="">
						<h5>
							{{item.testi_username}} <span>{{item.testi_title}}</span>
						</h5>

				</div>
			</div>
			</div>

		</div>
		<div class="next" (click)="nextti()"><img src="assets/images/next.png"></div>
	</div>


</section>

<!-- testimonial section end -->

<!-- grid section -->

<section class="gridsection">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-3 justify-content-center">			
				<img src="assets/images/customer.png" alt="Satisfied customers">
				<h3>92% <br><span>Satisfied customers</span></h3>
			</div>
			<div class="col-sm-6 col-md-3 justify-content-center">			
				<img src="assets/images/minutes.png" alt="Minutes">
				<h3>5 <br><span>Minutes</span></h3>
			</div>
			<div class="col-sm-6 col-md-3 justify-content-center">			
				<img src="assets/images/event.png" alt="Event experts">
				<h3>0$ <br><span>Event experts</span></h3>
			</div>
			<div class="col-sm-6 col-md-3 justify-content-center">			
				<img src="assets/images/caterars.png" alt="Caterer">
				<h3>500 <br><span>Caterer</span></h3>
			</div>
		</div>
	</div>
</section>

<!-- grid section end -->

<!-- blog section -->
<section class="blogsection">
	<div class="container text-center">
		<h2 class="headinghome">Blogs</h2>
		<div class="row marginb30">
			<div class="col-md-4 text-center">
				<img src="assets/images/blog1.png" alt="Blog">
				<span>5 Dec 2018</span>
				<p>Lorem Ipsum is simply dummy text of the printing</p>
			</div>
			<div class="col-md-4 text-center">
				<img src="assets/images/blog2.png" alt="Blog">
				<span>5 Dec 2018</span>
				<p>Lorem Ipsum is simply dummy text of the printing</p>
			</div>
			<div class="col-md-4 text-center">
				<img src="assets/images/blog3.png" alt="Blog">
				<span>5 Dec 2018</span>
				<p>Lorem Ipsum is simply dummy text of the printing</p>
			</div>
		</div>
		<button class="readmore">Read More</button>
	</div>
</section>
<!-- blog section end -->

<!-- about us section start -->
<section class="aboutsection">
	<div class="container text-center">
		<h2 class="headinghome">About Us</h2>
		<div class="row marginb60">
			<div class="col-md-6">
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem psum has been the industry's standard dummy textever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a ype specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum is simply dummy text of the printing  and typesetting industry.
				</p>
			</div>
			<div class="col-md-6">
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem psum has been the industry's standard dummy textever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a ype specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum is simply dummy text of the printing  and typesetting industry.
				</p>
			</div>
		</div>
		<button class="readmore">Read More</button>
	</div>
</section>

<!-- about us section end -->


<!-- caterar section -->
<section class="caterarsection">
	<div class="container">
		<h2 class="headinghome">Caterers Benefits</h2>
		<div class="row">
			<div class="col-md-5">
				<img src="assets/images/caterr_blog.jpg" alt="Caterers Benefits" class="img-responsive">
			</div>
			<div class="col-md-7">
				<ul>
					<li>Assistance In Planning and Save Time and Money.</li>
					<li>Lorem Ipsum is simply dummy text of the printing and industry.</li>
					<li>Lorem Ipsum has been the industry's standard dummy text ever.</li>
					<li>Lorem Ipsum is simply dummy text of the printing and industry.</li>
				</ul>
				<button class="readmore" (click)="Caterers_page()">TO THE CATERER PAGE</button>
			</div>
		</div>
	</div>
</section>


