footer{background: #282b2e;padding:50px 0;}
footer .footermenu{list-style: none;padding:0;}
.footermenu li a{display: block;color:#ffffff;padding:4px 0 4px 0;}
.logo_footer{display: block;margin-bottom:20px;}
.h5, h5 {font-size: 1.2rem;color: #b98d35;}

footer input{background:#949597;border:0px;appearance:none;outline:none;width:100%;}
footer ::placeholder {
  color: #000000;
  opacity: 1; /* Firefox */
}

footer :-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #000000;
}

footer ::-ms-input-placeholder { /* Microsoft Edge */
 color: #000000;
}
.footersubmit{background: #b98d36;color: #ffffff;border: 0;-webkit-appearance: none;padding: 2px 15px 2px 15px;cursor: pointer;
    float: right;margin-top: 12px;}
.emailsubscribe{padding:5px;}
.inputcl{padding:2px 5px;width:100%;margin-bottom:10px;}
footer h3{font-family: 'Work Sans';font-weight: 500;color: #cbcbcb;}
.textare{background:#949597;border:0px;appearance:none;outline:none;width:100%;}
.mobiledeviceset h3{margin-bottom: 20px;}
.mobiledeviceset a{display: block;margin-bottom: 15px;}
footer .col-md-3{padding:0 30px;}