<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<a href="" [routerLink]="['/home-caterer']"><img src="assets/images/logo1.png" alt="Logo" class="logo_footer"  style="height: 62px"></a>
				<ul class="footermenu">
					<li><a href="">Home</a></li>
					<li><a href="">About us</a></li>
					<li><a href="">Careers</a></li>
					<li><a href="">FAQ</a></li>
					<li><a href="">Best Caterers Reviews</a></li>
					<li><a href="">Contact Us</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul class="footermenu">
					<li><a href="">Start an order</a></li>
					<li><a href="">Contract Catering</a></li>
					<li><a href="">Event Catering</a></li>
					<li><a href="">Get a Quote</a></li>
				</ul>
				<h5>Subscribe Newsletter</h5>
				<form>
					<input type="email" class="emailsubscribe" placeholder="Email Address">
					<button type="submit" class="footersubmit">SUBMIT</button>
				</form>
			</div>
			<div class="col-md-3">
				<h3>Enquiry Form</h3>
				<form>
					<input type="text" class="inputcl" placeholder="Name">
					<input type="email" class="inputcl" placeholder="Email Address">
					<input type="text" class="inputcl" placeholder="Mobile No">
					<textarea placeholder="Message" class="textare"></textarea>
					<button type="submit" class="footersubmit">SUBMIT</button>
					
				</form>
			</div>
			<div class="col-md-3 mobiledeviceset">
				<h3>Available on:</h3>
				<a href="#"><img src="assets/images/ios.png"></a>
				<a href="#"><img src="assets/images/android.png"></a>
			</div>

		</div>
	</div>
</footer>
